[2021-07-22 16:14] huang195 commented on #864
1. I wonder if instead of creating yet another CRD, if we could encode this information as annotations to Iter8-supported resources, i.e., Deployments, Statefulsets, etc.
2. This seems to be again Helm dependent looking at `repo` and `chart` fields. I wonder if option 1 is possible, whether or not Helm already leaves enough crumbs in the resource spec, so these are available implicitly.

[2021-07-22 16:42] sriumcp commented on #864
@huang195 Just so I understood...

1. No new CRD
2. Take an existing resource -- annotate it with appropriate annotations and may be add a bunch of labels also if it makes sense. Annotations could include helm repo and chart information (and dynamically constructed values are derived from the resource -- how is TBD).
3. Iter8 operator will watch for resources (perhaps filter them based on annotati

[2021-07-22 16:46] sriumcp commented on #864
In principle, Helm repo/chart info can be replaced with kustomize folder info, or jsonnet info...

Helm is certainly the most popular of these templating choices though, and probably where we would want to start.

[2021-07-22 17:17] kalantar commented on #864
Can a controller watch arbitrary resources for annotations? Or does it need to also have a notion of resource group/kind? I thought it still did.

I would like to see what the "values" field might look like. I would hesitate before adding a lot of annotations. But I do like that approach.

[2021-07-22 17:25] kalantar commented on #863
Suggest making this optional instead of removing it. Users do think in concepts such as "canary" "validation" "a/b". It doesn't hurt to allow them to express what they think they are asking for and validating if the rest does not match.  Agree with computation otherwise and that it should go to status where it can be shown to the user via get.

[2021-07-22 17:26] kalantar commented on #863
Wonder about rename of canary. Users use this term. We want to be sure that the terms we have match to user concepts. Granted. This term is used differently by different users so the change may be appropriate.

[2021-07-22 17:27] kalantar commented on #862
Agree completely with remove baseline and candidates from versionInfo. It has impact in many places but all easy to find/modify. I think.  Less sure about removal of name. No problem is principle but need to review carefully to find where we might have used it or made an assumption about it.

[2021-07-22 17:30] huang195 commented on #864
@sriumcp there's still some ambiguity in how the CRD/annotation is being used. Can you briefly describe a scenario, i.e., what resources are deployed in the initial state, what happens when a new image is available (what user has to do, what iter8 do under the cover), what needs to be cleaned up at the end, etc.

[2021-07-22 17:36] sriumcp commented on #864
Yes, will make an attempt at fleshing out the details -- may be for 2 or 3 scenarios from our existing tutorials -- to see how this could play out (both for values, annotations, and also the mechanics of how experiment / promotion would occur).

[2021-07-22 18:03] sriumcp commented on #865
How about:

[code]

1. Both experiment and metrics are now manifests (files available locally). It doesn't matter whether they're deployed or not, because the above command will only look at the local files, not the deployed resources.
2. Yes, spelling out the query that is sent, the intermediate results that came back from metrics backend, and the result of jq post-processing, and other relevant

[2021-07-22 18:10] sriumcp commented on #863
Top links that show up on google when I typed "canary testing"...

1. https://launchdarkly.com/blog/what-is-a-canary-deployment/?utm_source=google&utm_medium=cpc&utm_campaign=&utm_terms=&matchtype=b&utm_content=529046860681&gclid=CjwKCAjwruSHBhAtEiwA_qCppncKGBqfztTFIkrqBdYwLihli1M9gMDVnk9zpz20sjJgdnugNnxX7hoC_DIQAvD_BwE
2. https://www.optimizely.com/optimization-glossary/canary-testing/
3. https:/

[2021-07-22 18:17] sriumcp commented on #863
So... how about?
1. Make testingPattern optional in spec and in status. Behavior ...
  - If user supplied the correct info, Iter8 controller will validate and then copy it over to status (assuming experiment is valid).
  - If user supplied incorrect info, Iter8 controller will validate, experiment will be found to be invalid, and there will be failure.
  - If user omitted this field, Iter8 control

[2021-07-22 18:21] kalantar commented on #865
How about

    iter8ctl query -f <metric-manifest> -f <experiment-manifest> -a <Iter8 analytics UR; perhaps port forwarded>

Repeated use of -f mirroring the kubectl CLI. Allows both to be specified in the same file or different ones.

Is there a possibility that the metric/experiment will be in the cluster? Do we need to support both the manifeset and in cluster? I think for development of metric

[2021-07-22 18:47] sriumcp commented on #865
Both for dev and debugging purposes, manifest should be ok. If the metric and experiment is already in the cluster, you can always `kubectl get the iter8 metric -o yaml > metric-manifest.yaml`; same holds for the experiment.

Re: `-f` and `-f`, I feel both conceptually and implementation wise, `-m` and `-e` is easier as it makes it clear what is what. Perhaps, we can allow both the `metrics-manife

[2021-07-22 19:09] kalantar commented on #865
sounds good.

[2021-07-23 16:11] sriumcp opened #868 "CI improvements during new releases of Iter8: update install.md"
**Is your feature request related to a **problem**? Please describe the **problem**.**
When releasing a new version of Iter8 (example v0.7.12), we want to automatically change the install instructions in `install.md` markdown file. Right now, this step is manual and human-intensive.

**Describe the feature/solution you'd like**
Add a job to [this workflow](https://github.com/iter8-tools/iter8/blob

[2021-07-23 20:12] kalantar opened #870 "notification/github-workflow task"
**Is your feature request related to a **problem**? Please describe the **problem**.**
The notification/http task enables calling github workflows as part of an action. However, it is wordy to express and easy to make mistakes. A derivative task, notification/github-workflow, can be used to easily express the needed parameters and convert to an http task.

Proposed definiton:

[code]

**Will this

[2021-07-24 12:31] sriumcp opened #872 "Trigger Helm repo update within Iter8 CI automatically"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Helm repo updates are currently manual and human-intensive.

**Describe the feature/solution you'd like**
Whenever code is pushed to Iter8's helm folder (helm), the helm repo update workflow needs to be triggered automatically.

**Will this feature/solution bring new benefits for Iter8 developers? What are they?

[2021-07-26 23:58] #848 closed, assigned to nobody

[2021-07-27 04:11] sriumcp commented on #708
Done.

[2021-07-27 04:12] #708 closed, assigned to nobody

[2021-07-27 11:13] sriumcp opened #880 "CI improvements during new Iter8 releases: iter8.tools documentation"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Whenever a new tagged release is created, we want to run the `mike versioning` CI so that iter8.tools documentation is auto-updated.

**Describe the feature/solution you'd like**
Make the `mike versioning` workflow trigger on releases (not just manual). Additionally, extract major and minor version numbers from

[2021-07-28 20:55] sriumcp commented on #864
Say the user wants to trigger an Iter8 experiment by dark launching a new version of an application ... here's a concrete example of the candidate watch functionality.
***
1. User already has a stable service and deployment, lets call them `hello` service and `hello` deployment.
2. `hello-candidate` comes along. User deploys `hello-candidate` which looks as follows.
[code]
3. Iter8 watch controlle

[2021-07-28 21:03] sriumcp commented on #864
Key advantages of the above design ...
***
1. Create standardized Helm charts that be can used within simplex annotations such as the above. If your use-case fits within one of these standardized ones, you don't need to understand anything about Iter8 experiment CRD. All you need to know is how to configure `values1.yaml` (which has to do with your application/CI/CD environment; not Iter8).
2. If

[2021-07-28 21:16] sriumcp commented on #864
@huang195 @kalantar @fabolive Please keep comments coming here... meanwhile, I can try prototyping an initial version of this.

[2021-07-28 23:34] huang195 commented on #864
Looks good to me. One thing to think about is if we can add annotations to the baseline version instead of candidate version. It's more complicated as replicaset controller would interfere with our intention, but it does reduce user's involvement and gives it more of a k8s-native feeling. Maybe something like

[code]

would trigger the operator to provision the candidate deployment on behalf of th

[2021-07-29 00:35] sriumcp commented on #864
@huang195 The building blocks described so far (controller which watches a target resource and helm deploys) can be used in several different ways, so yes, we can use it to annotate baseline or annotate candidate.

In fact, in domains like Knative, this distinction is totally blurred (the same service is used to create both).

So, absolutely yes, the suggestion you made above is very much on the t

[2021-07-29 13:51] sriumcp opened #908 "`iter8ctl` subcommand to debug experiments"
**Is your feature request related to a **problem**? Please describe the **problem**.**
If something goes wrong during an experiment (example, missing metric definition or task failure) ... users will need help debugging. Currently, there is no easy way to do this other than looking into experiment status and raw logs. The former is complex and difficult to parse for humans (e.g., there are no cond

[2021-07-29 13:59] sriumcp opened #909 "`Helm` installation of Iter8"
**Is your feature request related to a **problem**? Please describe the **problem**.**
The only way to install Iter8 today is using Kustomize. It has the following issues.
1. Restricting the domains for which Iter8 is installed (for example, Knative only) would mean manually editing and creating new Kustomize overlays. This is too much work for the end-user.
2. Restricting the namespaces where Ite

[2021-07-29 14:55] huang195 opened #910 "Consider replacing iter8ctl with kubectl subcommand"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Iter8ctl is yet anotherr tool user needs to install and learn.

**Describe the feature/solution you'd like**
Consider replacing `iter8ctl` with `kubectl iter8`.

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Yet to be determined. We need to consider if there's sufficient benef

[2021-07-29 15:00] sriumcp commented on #864
When editing baseline version, no setting image... or spec... only annotations.

[2021-07-29 15:06] huang195 opened #911 "Setting reasonable default values"
**Is your feature request related to a **problem**? Please describe the **problem**.**
A difficulty user might face when using Iter8 is when creating an Experiment CR as the corresponding CRD is very complicated. We should make a minimal viable working Experiment CR as simple as possible, as few lines as possible, and internally fill in default values for users.

**Describe the feature/solution yo

[2021-07-29 15:09] sriumcp commented on #911
In addition to #862 (auto generate names for versions) and #863 (auto generate testing pattern) , what are some additional defaults we might want to set (either as part of the current etc3 defaulting, or in a webhook)?

[2021-07-29 15:34] huang195 commented on #911
I'm thinking the following might be useful:
- defaulting handler tasks: e.g., check for targets to be ready
- defaulting metrics
- defaulting timing parameters, e.g., duration, iteration, etc.
- defaulting weightObjRef: this might be harder as that would require runtime information, which we currently don't have the capabilities

Anything else that would make a working Experiment CR as close to a

[2021-07-29 16:07] sriumcp commented on #911
1. Re: timing, we do have defaults currently already (not sure what the sanest defaults here could be).

Some examples for the other categories would be nice to see...

[2021-07-29 16:30] sriumcp commented on #911
I think you brought up this or a variant of this idea earlier @huang195 ... anyway, here it goes ...

Make `spec.strategy` section optional. This is possible once we start auto generating testing pattern (#863).

At this point, everything in the spec section other than target is optional, which will enable the user to specify a valid experiment that can be run by etc3 as follows.

[code]

We do no

[2021-07-29 16:39] sriumcp commented on #911
I feel setting sane defaults in the experiment across the board for every user/application, without help from the user, is not going to be possible (because no such sane default exists, given the breadth and scope of the Iter8 experiment CRD).

However, with the `dummy` template option described above, the experiment spec is substantially simplified for CI/CD/GitOps integration (you set the `dummy

[2021-07-29 17:47] huang195 commented on #911
Good point @sriumcp. Using only static information, one can only go so far filling in the default. Perhaps we can hold off on this issue until we have some runtime capabilities.

[2021-07-29 18:05] kalantar commented on #864
I really not following the logic here.

1. is the values file referenced by the annotation one of `values1.yaml` or `values2.yaml`?
2. should we consider values file defined in a configmap? Perhaps this is easier than making available remotely?
3. Are we assuming that a user creates a candidate Deployment object? While this should be an option, I thought we were trying to imagine a scenario in whi

[2021-07-29 18:11] sriumcp commented on #908
Use cases (root causing experiment failures...)
1. Token missing
2. Secret missing
3. Readiness check failed
4. RBAC permissions insufficient for some handler task
5.  Some resource (example metric or some other domains resource) referenced in the experiment is absent
6. ...

[2021-07-29 18:25] kalantar commented on #911
In general, with defaulting at this scale, I agree that fixed defaults won't work. Rather, some form of template would be needed as suggested above. There is a certain benefit to defaulting per application. Use in CI/CD means that the experiment generated is easier to generate. I feel like templates combined with annotations (issue https://github.com/iter8-tools/iter8/issues/864) might make sense

[2021-07-29 18:26] sriumcp commented on #864
@kalantar

1. `values1.yaml` is referenced in the annotation. `values2.yaml` is generated automatically (it is simply the resource being watched minus its status section).

2. +1 for ConfigMap; Git URL might not be that hard (because, the ConfigMap probably is coming from Git repo anyway; or generated by a Helm chart in a Git repo perhaps ... ).

3. Both baseline  and candidate annotations can be

[2021-07-29 19:00] kalantar commented on #864
Agreed. But I think we are beginning to look at this from the Iter8 perspective and not the user perspective.  Iter8 seems to be demanding a new deployment because something more than image has changed.

A user might use either approach:

Single Deployment Model -- only ever have a single deployment. When make changes -- any changes modify the existing deployment (can do for env var or add a sidec

[2021-07-29 19:42] sriumcp commented on #864
I am not able to follow the discussion re: single vs two deployment models... but there are a few concerns this is bringing up which I do follow and list here..

1. What should the user do in order to `initiate` a new release? The simpler this is the better (as it makes CI/CD/GitOps) easier. Current options are, 1) annotate baseline deployment, and 2) create candidate deployment, and annotate cand

[2021-07-30 11:03] sriumcp commented on #751
Done.

[2021-07-30 11:03] #751 closed, assigned to sriumcp

[2021-07-30 13:39] kalantar commented on #694
I have reviewed the code and see only references to 2 logging libraries.  The `main.go` and the `suite_test.go` files use ("sigs.k8s.io/controller-runtime/pkg/log/zap") `zap.New()` to create a ("github.com/go-logr/logr") `logr.Logger`.  Everywhere else uses `github.com/go-logr/logr`.

`zap` is used only to create and configure a new Logger. It is introduced as the method of preference by the kubeb

[2021-07-30 14:36] kalantar commented on #908
6. Any handler failure
    a. notification/http POST fails -- what is response message?
7. metric values are undefined
    a. no load?
    b. invalid metric definition?
    c. information missing in definition?
    d. metrics backend not working?
8. one of the experiment validation fails
9. clearer messages
10. better logs; configurability of amount of logs
11. Neither task nor run specified in th

[2021-07-30 14:39] sriumcp commented on #694
Looks like "sigs.k8s.io/controller-runtime/pkg/log" is now gone. Which is good.

However, using two different logging packages in the same project is one logging package too many. For starters, logging format is going to be non-uniform. Reopening the issue. I can handle the issue as part of #908 (which is all about logging formats).

Also note: the handler repo has a cleaner approach to logging. N

[2021-07-30 16:00] sriumcp opened #912 "Support GitOps-y installation of Iter8"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Iter8's builtin metrics rely on this installation step currently ...
[code]
This requires metric CRDs to be registered in advanced, not just applied (otherwise, this step will fail). CRD registration is currently verified as follows ...
[code]

A shell command like the above precludes the installation of Iter8 b

[2021-07-30 17:54] kalantar opened #914 "getting-started/first-experiment deploys an experiment with the baseline version"
**Describe the bug**
When executing the documented `first-experiment`, the first `helm install` command also installs an experiment object. This leads to potential issues such as start handler failure if the second is not deployed quickly enough. In my test, I saw one instance of the job fail. Fortunately, it succeeded on the second.
Further, when the final `helm upgrade` is executed, the experime

[2021-07-30 18:04] sriumcp commented on #914
We will fix this using the following three PRs:
1. Change the `deploy` Helm chart in Iter8 (the one under `$ITER8/helm` folder). Write an e2e test for this chart. (PR1)
2. Once the above PR is merged, update the chart in Iter8 Helm repo
3. Once the chart is updated, fix the tutorial, and delete the `samples/first-exp` folder (PR2)
4. Tag and release a new version of Iter8 (PR3)

[2021-07-30 19:16] sriumcp opened #917 "Metrics/collect task requires an initial delay parameter"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Even though a deployment is `available`,  and a service backed by this deployment is present, the routes for the service may still not have DNS entries yet in K8s, making the Fortio metrics collection fail in Iter8 handler.

**Describe the feature/solution you'd like**
Introduce an `initialDelaySeconds` input to

[2021-07-30 19:31] kalantar opened #918 "Use fortio -ignore-initial-errors option in metrics/collect task"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Some experiments fail because fortio fails early. One strategy to avoiding some errors (caused by cold start) is use of the `-ignore-initial-errors` option in fortio. This adds a measure of resilience to the task even though it won't solve every issue.

**Describe the feature/solution you'd like**
A clear and co

[2021-07-30 20:12] sriumcp opened #920 "Document `iter8ctl` kubeconfig"
**Description:**

`iter8ctl` kubeconfig relies on https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client/config#hdr-Config_precedence

Options 1 and 3 in the precedence list is not relevant for `iter8ctl` CLI, but 2 and 4 are. This needs to be documented clearly.

**Documentation links:**

It would be nice to not just have CLI documentation for `iter8ctl` but also iter8.tools documentation.

[2021-07-31 11:50] sriumcp commented on #914
Fixed.

[2021-07-31 11:50] #914 closed, assigned to sriumcp

[2021-08-02 13:45] kalantar commented on #694
The controller requires us to set a logger; it tasks a logr.Logger as in input for this. logr.Logger is an interface. An implementation is provided by zap. One needs only use it to set the logger; thereafter one uses the interface methods. We are not using 2 different loggers at different times with different formats. We are using one.

It appears that you prefer logrus. Unfortunately, it is not s

[2021-08-02 14:44] sriumcp commented on #694
Thanks for that explanation @kalantar.

I see `"sigs.k8s.io/controller-runtime/pkg/log/zap"` imported in `main.go`.
I also see `github.com/go-logr/logr v0.3.0` imported in `go.mod`.

Aren't these different logger implementations?

The zap logger implementation is being set in the manager (which makes sense of course).

Why is the second implementation showing up in `go.mod`?

***

This issue is no

[2021-08-02 14:46] kalantar opened #921 "Upgrade kubebuilder from v2 to v3"
**Is your feature request related to a **problem**? Please describe the **problem**.**
No.

**Describe the feature/solution you'd like**
Upgrade version of kubebuilder from v2 to v3.

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Will address some security issues.

**Will this feature/solution bring new benefits for Iter8 developers? What are they?**
Keep code m

[2021-08-02 15:41] kalantar commented on #694
`github.com/go-logr/logr` defines the interface `logr.Logger`.  The methods of this interface are used to do the actual logging everywhere in the controller.  zap  is only used in `main.go` to create an instance of a logger that satisfies the definition of the interface `logr.Logger` (the interface type). The concrete instance is stored by the controller and then used via the interface methods.

[2021-08-02 16:38] sriumcp commented on #694
Thanks @kalantar again for this explanation.

I understand now. I agree there is no issue here. Closing.

[2021-08-02 16:38] #694 closed, assigned to sriumcp

[2021-08-02 18:20] sriumcp opened #922 "Reshape the `iter8:ind` image for acceptance test purposes"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`iter8:ind` docker image, which is useful for acceptance testing and for CI purposes, currently requires privileged mode execution. This makes it unsuitable for running within a K8s environment where privileged mode containers are disallowed.

**Describe the feature/solution you'd like**
Be able to perform accep

[2021-08-03 01:03] kalantar opened #923 "Restructure packages in etc3"
**Is your feature request related to a **problem**? Please describe the **problem**.**
No. Currently, etc3 has a number of helper packages "analytics", "configuration" and "util". In principle, the purpose was to separate distinct function. In practice there is one small file in each package. While we are upgrading kubebuilder and making the move to v2alpha3 I suggest we simplify the package struc

[2021-08-03 01:03] kalantar commented on #923
@sriumcp any thoughts?

[2021-08-03 02:29] sriumcp commented on #923
SGTM @kalantar

[2021-08-03 11:55] sriumcp commented on #921
Can this be closed @kalantar ?

[2021-08-03 11:56] sriumcp commented on #920
@kalantar I know you were running into `iter8ctl` kubeconfig issues earlier. Is it sorted out? This documentation issue still remains, but curious if you were able to get `iter8ctl` working as expected.

[2021-08-03 12:02] sriumcp commented on #923
@kalantar I request that we also add `area/controller` labels to controller issues.

[2021-08-03 12:07] sriumcp opened #924 "`iter8ctl` watch flag"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`iter8ctl` subcommands like `describe` and `assert` do not seem to play well when coupled with `watch -x`. The output gets garbled, and besides, `watch -x` is polling based as opposed event-triggered.

**Describe the feature/solution you'd like**
Support a  `--watch` or `-w` flag in `describe` and `assert` subco

[2021-08-03 12:23] sriumcp opened #925 "Separate the Knative Quickstart e2e test into a workflow of its own"
**Description:**
The Knative Quickstart e2e test, that is currently bundled as part of [this GH actions workflow](https://github.com/iter8-tools/iter8/blob/master/.github/workflows/e2e-tests.yaml) can serve as a piece of documentation in its own right. Separate it into a standalone GH actions workflow. Note that this doesn't functionally change the e2e tests for Iter8 in anyway. Merely makes the t

[2021-08-03 12:30] #921 closed, assigned to kalantar

[2021-08-03 12:32] kalantar commented on #920
Not yet. I did verify that @huang195 was NOT having a problem with a remote Openshift cluster. My kubeconfig is a bit of a mess. I plan to clean it up and try again. I will let you know if it remains an issue.

[2021-08-03 14:02] #923 closed, assigned to nobody

[2021-08-03 14:34] #849 closed, assigned to kalantar

[2021-08-03 15:29] huang195 commented on #864
@sriumcp Hopefully I didn't miss anything in this long thread, but ignore if I misunderstood something. I'm using the example you gave above:

[code]

My suggestion is to not use Helm-specific fields here as those bound Iter8 to Helm, and we don't want to create hard dependencies unless there's no other way around. I'm wondering if we could use a generic webhook and pass it a list of parameters. A

[2021-08-03 16:03] sriumcp commented on #864
+1 for the webhook receiver / trigger idea @huang195
***
However, I still don't think this should replace Helm based experiment triggers. With Helm charts, we can create  several pre-canned experiments. If the end-user's use-case falls into one of those supported by an existing (pre-canned) Helm chart... all they need to do is annotate their K8s resource and that's it.
***
The webhook/GH tokens/pa

[2021-08-03 16:34] kalantar opened #927 "Support -o html flag for iter8ctl describe"
**Is your feature request related to a **problem**? Please describe the **problem**.**
The output is not very pretty. If output in html, stylesheets could be applied to generate a number of different layouts. Ouptut could be embedded in web page.

**Describe the feature/solution you'd like**
Provide option to output of `iter8ctl describe` in html format

**Will this feature/solution bring new bene

[2021-08-03 17:01] #925 closed, assigned to nobody

[2021-08-03 17:38] kalantar commented on #920
I checked again and still do not have access. To replicate. Login to cloud.ibm.com and create a cluster. Login to the cluster using the instructions "Connect via CLI". Verify works by executing kubectl commands. Execute `iter8ctl describe`. Get this error `Error: cannot get client using rest config`.

[2021-08-03 17:40] kalantar commented on #920
Perhaps this issue is related to the need for client auth plugins. IKS uses OIDC. We may be importing some and not others. I notice that kubebuilder now adds this line to add all of them:

	// Import all Kubernetes client auth plugins (e.g. Azure, GCP, OIDC, etc.)
	// to ensure that exec-entrypoint and run can make use of them.
	_ "k8s.io/client-go/plugin/pkg/client/auth"

[2021-08-03 18:09] kalantar commented on #920
It appears that is is the problem. PR https://github.com/iter8-tools/iter8ctl/pull/37 seems to fix it.

[2021-08-03 18:36] huang195 commented on #864
I don't disagree with doing a POC w/ Helm charts. These are needed regardless. However, can whatever mechanism we implement be general enough so that it can support mechanisms other than Helm? The webhook mechanism is one way.

We can include a few Github workflows in the repo itself, so when a user clone it, it's available to the user along with all the Helm charts. There shouldn't be any additio

[2021-08-03 20:57] kalantar opened #928 "Generate PR on iter8 repo when release other repos"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Each time we release repo like analytics, etc3 and handler, we need to also update the iter8 repo to update the install to refer to the new version(s).  In other cases (iter8ctl) the documentation should be updated.

**Describe the feature/solution you'd like**
Add a GH workflow to create the necessary PR when a

[2021-08-04 13:27] #928 closed, assigned to nobody

[2021-08-04 17:02] kalantar opened #930 "Remove "Template" from URLTemplate and HeaderTemplates"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Purpose is to make the names "nicer". Yes, they are templates in that they can have parameters. However, I would prefer simpler names `URL` and `Headers`.

**Describe the feature/solution you'd like**
Rename `URLTemplate` to `URL` and `HeaderTemplates` to `Headers.

**Will this feature/solution bring new benefit

[2021-08-04 17:32] sriumcp commented on #930
SGTM.

[2021-08-04 17:58] sriumcp opened #932 "Enable conditional execution of tasks"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Currently, there is no way to conditionally evaluate or skip the evaluation of a task within an action. Conditional evaluation of tasks can provide a cleaner alternative / enhancement to string interpolations currently used to dynamically change the behavior of tasks.

**Describe the feature/solution you'd like*

[2021-08-04 18:11] kalantar commented on #932
Is there a need for the `` ` `` surrounding the condition?

[2021-08-04 18:13] sriumcp commented on #932
I think we can get rid of it... but need to investigate. Perhaps with:
[code]

[2021-08-04 18:14] kalantar commented on #932
Perhaps conditions can be expressed using placeholders. We support anything in the  experiment via the prefix `.this`; so `{{ .this.Status.VersionRecommendedForPromotion }}` is the version recommended for promotion.

[2021-08-04 18:14] kalantar commented on #932
This should also work:

    condition: "your condition here"

[2021-08-04 18:15] sriumcp commented on #932
Placeholders can be used within conditions, yes.

However, interpolation is a complicated business (see the issue above for why versionRecommendedForPromotion) is not always reliable, and part of the attraction here is simplifying task descriptions (where possible) without the need for interpolation.

Interpolation implies that the end-user understands the details of the experiment struct (mostly,

[2021-08-04 18:25] kalantar commented on #932
I wonder if we need some built in functions like `isDefined()` or `isSet()` to all address this comcern. Maybe also `isTrue()` or numerical functions since interpolation returns strings.

[2021-08-04 18:42] sriumcp commented on #932
If and when we do have `builtin functions/methods` within the scope of condition evaluation, we can definitely use them. Yes, the above are good examples, but it would be nice to get a bit of experience with some simple conditions first.
***
It would be nice if the end-user doesn't need to understand three things to use tasks / interpolation / experiments:
1. Experiment status
2. Go language, espe

[2021-08-04 19:01] sriumcp opened #933 "Introduce versionInfo in metrics CRD"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Currently, metric definitions are complicated due to two reasons
1. The use of interpolation for version information, which makes metric definitions complex to begin with.
2. The fact that the placeholders for interpolation are inside the metrics resource, and the variables used for substituting placeholders are

[2021-08-04 19:22] kalantar commented on #933
This seems like a good idea. But it means metrics are specific to versions. Where version is generated in a CI pipeline, the version may change on every use. Won't I have to define new metrics for every experiment?

[2021-08-04 19:43] sriumcp commented on #933
Yes and no.
***
If metrics are collected with consistent labels, example `hello` and `hello-candidate` are names of baseline and candidate services respectively in the above example... and metrics are collected under these labels, then, in every experiment ... no changes are needed for metrics resources. This is the situation in automatically generated metrics by service meshes like Istio. Of cour

[2021-08-05 00:18] sriumcp commented on #863
@kalantar Given the simplification streak we're on, my preference would be that we leave out the `testingPattern` entirely from the spec section from now. The amount of stuff we need to explain, when we try to explain the Iter8 experiment CRD -- is enormous. Dropping the field would simply make the number of fields to be explained, one less.

Given that the idea is anyway to make the field optiona

[2021-08-05 02:24] sriumcp commented on #862
I want to propose an additional simplification to `versionInfo`.
***
Drop the `variables` section from `experiment.spec.versionInfo.versionDetail` objects.

1. The need for version specific variables in experiment spec, from the metrics perspective, will no longer exist in v2alpha3 due to #933
2. The need for version specific variables in experiment spec, from a task perspective, will be greatly m

[2021-08-05 11:23] sriumcp opened #934 "Drop metrics CRD"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Iter8 has two CRDs at the moment, *experiment* and *metric*. Here are the disadvantages of two CRDs (see below for its lone advantage).
1. Two CRDs are inherently "more stuff" to explain and understand then one. It is nice to say, everything in Iter8 revolves around a single new CRD and that's it, which also mak

[2021-08-05 13:46] sriumcp opened #935 "Chaos injection during experiments"
**Is your feature request related to a **problem**? Please describe the **problem**.**
[Litmus](https://litmuschaos.io) provides excellent ways of injecting chaos for K8s applications and chaos test them. Currently, there are no examples that demonstrate chaos testing in conjunction with SLO validation.

**Describe the feature/solution you'd like**
Create an end-to-end example that demonstrates ho

[2021-08-05 13:51] sriumcp commented on #935
Under `$ITER8/samples`, lets create a `chaos` folder, and put all the source code, include Helm charts within the `chaos` folder.

[2021-08-05 14:39] sriumcp commented on #933
**Note:** This issue is now subsumed and superseded by #934

[2021-08-05 14:45] kalantar commented on #863
I don't suppose there is much value in keeping it.

[2021-08-05 15:09] kalantar commented on #934
One lesson from v1 was to separate the metrics from the experiment. This reverses that. What has changed? Or do we conclude that it just didn't make anything easier?

[2021-08-05 15:10] kalantar commented on #934
This change does not really address a problem with (non-builtin) metrics -- they are hard to define. In part, I think this is because there is no good way to test them. If each is it's own object I can imagine a tool that would let us test just a single metric. An authoring tool of some sort. By folding into an experiment, this seems harder to do. How do we assist users to define them?

[2021-08-05 15:10] kalantar commented on #934
If we go down this route, it seems like we should rethink the metrics (sub)-crd. There would be a lot of repetition in it.  For example, can we reuse secret, url, headers, authtype, method, (proposed) versionInfo -- can we share it with the existing versionInfo -- even jqExpression. Clearly these can't be shared across all metrics, but is there value in group metrics with common properties like th

[2021-08-05 15:14] sriumcp commented on #934
Hmm... I agree @kalantar with your latest point, which really is where some thought needs to go in terms of the design.

Re: authoring tool, we were discussing #865 in this context. This subcommand can be modified as follows...
[code]

So, I don't think much changes in that regard.

[2021-08-05 15:14] sriumcp commented on #934
I am ok with leaving this issue open until `v2beta1` instead of trying to accommodate it in `v2alpha3`.

I would really prefer if we can get to an agreement on this issue ... nail the design for reuse of secrets, url, headers, authType, method etc., and absorb it in `v2alpha3`.

`name, type, versionInfo` are the fields that will not be re-used across metrics sub-stanzas. Everything else potentiall

[2021-08-05 15:19] sriumcp commented on #934
Yes, this is indeed my conclusion. I think the CRD fields for metrics are beautiful :) But I am not at all sure a separate CRD is helping... in fact, I don't think it is. Hence, the case for ditching the CRD and retaining the fields.
***
Separating them out this way also enabled us to evolve the metric fields much quicker (with minimal changes to the controller), and much of the heavy lifting for

[2021-08-05 15:27] sriumcp commented on #934
Re: metrics specification... a better attempt to factor out common fields is below.

[code]

[2021-08-05 15:44] kalantar commented on #934
My impression is that we will need something like:

[code]
To support use of 2 metrics backend ... which, it is my impression is often the case for a/b testing. newrelic (reward) and prometheus (slo validation).   Is this not true?

[2021-08-05 15:47] sriumcp commented on #934
How about the following? Same idea as yours, with some name changes.

[code]

In this design, if you have different defaults for the metrics with the same metrics URL (extremely unlikely scenario), it is still supported; you simply list them as two different backends.

[2021-08-05 17:00] gaodan-fang opened #936 "Configmap iter8-handler-292f6tfbmt created with suffix but the controller pod requires it without suffix"
**Describe the bug**
[code]

[code]

**To Reproduce**
Follow the steps of https://iter8.tools/0.7/getting-started/install/
And the error will show up in the pod iter8-controller-manager

**Expected behavior**
The pod should be created without error

**Can be fixed by**
Uncomment https://github.com/iter8-tools/iter8/blob/v0.7.17/install/core/iter8-handler/kustomization.yaml#L5-L6

**iter8 version**

[2021-08-05 17:20] sriumcp commented on #936
What is the version of Kustomize you are using?

I am wondering if the `suffix` behavior changed at some point with Kustomize.

[2021-08-05 18:30] sriumcp opened #937 "Parameterize application namespace in an experiment"
**Is your feature request related to a **problem**? Please describe the **problem**.**
I would like to use the same experiment in multiple namespaces easily, and I don't use Helm. I don't want to manually change lines of the experiment where namespace appears.

**Describe the feature/solution you'd like**
`iter8ctl patch --namespace=<application-namespace> -e <experiment-yaml> | kubectl apply -f -

[2021-08-05 19:06] sriumcp opened #939 "Create `versionInfo` as an optional field where required"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Currently, version-specific template variables are not colocated with templates in tasks.

**Describe the feature/solution you'd like**
Create `versionInfo` optional field for a task where it is required. It is up to the task make use of version specific information (if it is provided), and if it really needs to

[2021-08-05 19:23] sriumcp opened #940 "Convert `metrics/collect` task into a `load-test-with-fortio` task with support for `POST` APIs"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Fortio has numerous options for testing both `GET` and `POST` APIs. Currently, they are not available as part of `metrics/collect` task. In particular, testing `POST` APIs is not possible today with builtin metrics.

**Describe the feature/solution you'd like**
1. Rename `versions` to `versionInfo` in `metrics/c

[2021-08-05 19:45] sriumcp commented on #936
@huang195 You have experience with Iter8 on OpenShift. Did you encounter this? Any insights on how to resolve?

[2021-08-05 20:00] sriumcp commented on #936
@gaodan-fang I am trying to replicate the error with a  local kind cluster, but am unable to. Could you please list the exact set of steps I need to follow in order to see this error (starting from a fresh cluster)?

For example,  when I follow the install instructions, I see ...
[code]

And after that, if I do `kubectl logs deploy/iter8-controller-manager -n iter8-system`, I see:
[code]

Knowing

[2021-08-05 20:02] sriumcp commented on #936
Also ...

[code]

[2021-08-05 20:10] gaodan-fang commented on #936
oh, might that be the reason, actually i don't know the Kustomize version for now, will try to update it see if this bug goes away.
kustomize version
{Version:unknown GitCommit:$Format:%H$ BuildDate:1970-01-01T00:00:00Z GoOs:darwin GoArch:amd64}

[2021-08-05 20:44] sriumcp commented on #936
Ok. Since this appears to be `Kustomize` version issue, closing for now. Please re-open if the issue persists and there's something that need to be fixed at Iter8 install level.

[2021-08-05 20:44] #936 closed, assigned to nobody

[2021-08-05 20:54] gaodan-fang commented on #936
Yep, it's the Kustomize version issue. Works now.

[2021-08-05 22:26] sriumcp commented on #932
@kalantar Placeholders are even simpler with conditions now. For instance, the below should work.

[code]

Of course, above is not needed since the following will work too ...
[code]

[code]

Eventually, we should be able to write conditions like this...
[code]

[2021-08-06 11:22] sriumcp opened #941 "Drop `versionInfo` section from experiment"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Specifying traffic shift parameters (like weightObjRefs for versions) is great if traffic shifting is happening in the same cluster where etc3 is running. But this is problematic in several other use-cases for the following reasons...
1. Traffic shifting may need to be gitops-y rather than imperative / in-cluste

[2021-08-06 11:30] sriumcp commented on #941
**Note:** This also means we can drop `experiment.spec.strategy` and replace it by `experiment.spec.actions` instead.

[2021-08-06 11:45] sriumcp commented on #941
Please see https://github.com/iter8-tools/iter8/discussions/942#discussion-3505626 for an example where `numVersions` is used.

[2021-08-06 11:46] sriumcp commented on #934
Please see https://github.com/iter8-tools/iter8/discussions/942#discussion-3505626 for an example.

[2021-08-06 11:46] sriumcp commented on #862
This is now subsumed / superseded by #941

[2021-08-06 11:49] sriumcp commented on #930
This issue is now superceded by #934

[2021-08-06 11:50] sriumcp commented on #863
Testing pattern in status is still valid (because it is based on criteria). However, removal is now superseded by #941

[2021-08-06 12:17] sriumcp opened #943 "Drop `Helmex-update` in favor of `run` and make it gitops friendly"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Git clone and commit are now bundled together into Helmex-update. This makes it impossible to use those functions in other  settings (like non-Helm GitOps).

**Describe the feature/solution you'd like**
Drop helmex-update and add support for a proper use of secrets for git cloning in `common/bash`. This will ena

[2021-08-06 15:38] kalantar commented on #934
If we are saying this supercedes https://github.com/iter8-tools/iter8/issues/930, we should indicate here that we still want to shorten the names of the fields.

[2021-08-06 15:45] sriumcp commented on #934
**Note:** This issue also needs to address all concerns from https://github.com/iter8-tools/iter8/issues/930. In particular, co-locate `versionInfo` with metrics in order to avoid [spooky action at a distance anti-pattern](https://en.wikipedia.org/wiki/Action_at_a_distance_(computer_programming))

[2021-08-06 18:35] sriumcp opened #945 "Get rid of version recommended for promotion and replace it with less arcane template functions"
**Is your feature request related to a **problem**? Please describe the **problem**.**
In the `common/exec` task, without any versionRecommendedForPromotion (an optional field in experiment status), the task will fail; in the `common/bash` task, without any versionRecommendedForPromotion, the shell script will interpolate to garbage string and try to execute, probably resulting in failure or some

[2021-08-06 19:42] #932 closed, assigned to sriumcp

[2021-08-06 20:04] kalantar commented on #945
This is nice. But ... winner and version recommended  for promotion are different concepts. What do we really want here? Version recommended for promotion is only unset at the beginning because we don't set it until we validate versions after the start handlers. If we are eliminating versions, is this necessary? Can we have the notion that version recommended is always the first one up front?

[2021-08-06 20:06] kalantar commented on #945
What ever we decide about the meaning, I think we should leave this issue as is. It introduces `versionInfo` and makes it compatible with existing models. They can be migrated easily. Introducing the notion of a `.winner` method can be done separately and the original concept deprecated. Even if it is short lived I think it will be helpful for migration.

[2021-08-06 20:09] sriumcp commented on #945
We don't want the latter concept at all.

We simply want to provide the user the option to use the winner (if found), or the baseline (if winner is not found), which is what the versionRecommendedForPromotion is attempting to do in a round about manner.

We can accomplish this with a simpler to interpret -- and -- more robust `{{ .WinnerOrBaseline }}` template function.

[2021-08-06 20:26] kalantar commented on #941
I like an approach that puts the implementation of traffic shifting in the same place of the experiment. It is nicer than its implicit (from the values of these three fields) but if you want to do it set the fields like that and use tasks. ...). So yes to that.

In this context, we should perhaps jot down the interfaces for the three tasks, helm, gitops and clusterops  with the idea that we want t

[2021-08-06 20:26] kalantar commented on #941
I'm a little less happy with the get-weights methods. It is a nice feature that Iter8 is reporting the current weights whenever it can; it doesn't require the explicit request of the user which this approach does. It's probably worth the tradeoff.

[2021-08-06 20:26] kalantar commented on #941
If we remove all these things, the only thing left in strategy is actions. and number of versions. We should get rid of strategy and move actions to top level. Is there renaming there that needs to take place?

[2021-08-06 20:27] kalantar commented on #941
I feel like get-weights and set-weights (and maybe other stuff) have common versionInfo details. Do we need to repeat them? Should we consider a notion of versionInfo defined at the top level which can be augmented or even overridden by the individual tasks? Something like:
[code]

[2021-08-06 20:28] kalantar commented on #941
I don't like a numVersions field. Is it fair to assume that a list of versions must be present somewhere. Some task or some metric? Can we just find it implicitly?

[2021-08-06 20:29] sriumcp opened #947 "Rename tasks to be more human-friendly"
**Is your feature request related to a **problem**? Please describe the **problem**.**
The `libraryname/taskname` format is a bit arcane, not human-friendly, and doesn't seem to serve any purpose.

**Describe the feature/solution you'd like**
Get rid of the `libraryname/taskname` concept. Have tasks with human-readable names as follows:
[code]

**Will this feature/solution bring new benefits for I

[2021-08-06 20:34] sriumcp commented on #941
When using templates, the idea behind `versionInfo` is that template would be co-located with the data for the template (versionInfo). Separating them makes the experiment hard to read and harder to author.
***
weight shifting requires its own version info inputs;
metrics requires its own version info inputs, different from above inputs;
promotion requires its own version info inputs; different fr

[2021-08-06 20:42] sriumcp commented on #941
We don't need to separate get and set. We can simply do...

[code]

No repetition.
***
Another way (described above) is that, no need to provide any inputs for set (it can assume that there is a corresponding get task defined earlier, and get the inputs from the get task instead).

[2021-08-06 20:45] sriumcp commented on #941
***
For GitOps users, the source of truth is going to be Git repo.

For Helm users, the source of truth is going to  Helm values.
***
I think it is better if we don't say, for cluster ops, things will work one way (because it is implemented in our controller, and we don't want to move it to the task), and for helmops and gitops do it a different way.

[2021-08-06 20:47] sriumcp commented on #941
The current experiment spec (specifically, its versionInfo section) was created before the concept of handler tasks as it exists today was conceived. It is a good time to revisit the experiment spec which is starting to show its limitations, and the above is one such attempt.

[2021-08-08 14:36] kalantar commented on #941
Is the current weights not a needed/desired input to analytics? It doesn't matter if helm or git are the source of truth. We need an input for analytics. I guess this is not an absolute since the weightObjRef are optional. We cannot just assume there is another method with the needed input

[2021-08-08 14:38] kalantar commented on #941
I wasn't suggesting that we bunch them all together all the time. I was suggesting that we consider a mechanism to allow us to define an input that is used in common for a number of tasks. Not all tasks. Not tasks and metrics and ... I was just observing that it will be equally annoying to duplicate variables.

[2021-08-08 14:41] kalantar commented on #941
I've been thinking more about this. I think we should reconsider eliminating version names (or labels). A tool like iter8ctl needs a label to assign to versions. It should be meaningful to the user. v-0, v-1 and v-2 aren't going to be unless the user also wrote the experiment and is intimately familiar with with it.  It may be reasonable to have a simple `versions` which allows definition of versi

[2021-08-08 22:03] #933 closed, assigned to nobody

[2021-08-08 22:04] sriumcp commented on #918
This issue is subsumed by #940

[2021-08-08 22:04] #918 closed, assigned to nobody

[2021-08-08 22:13] sriumcp commented on #920
Fixed.

[2021-08-08 22:13] #920 closed, assigned to sriumcp

[2021-08-08 22:15] sriumcp commented on #917
Subsumed by #940

[2021-08-08 22:15] #917 closed, assigned to sriumcp

[2021-08-08 22:16] sriumcp commented on #909
*Note:* This needs to support GitOps-y install
*Note:* This needs to support operator-based installed.

[2021-08-08 22:18] #862 closed, assigned to kalantar

[2021-08-08 22:19] sriumcp commented on #861
Subsumed by #943

[2021-08-08 22:19] #861 closed, assigned to sriumcp

[2021-08-08 22:20] sriumcp commented on #830
Fixed.

[2021-08-08 22:20] #830 closed, assigned to sriumcp

[2021-08-08 22:24] sriumcp commented on #793
subsumed by #940

[2021-08-08 22:24] #793 closed, assigned to nobody

[2021-08-08 22:25] sriumcp commented on #742
Fixed.

[2021-08-08 22:25] #742 closed, assigned to sriumcp

[2021-08-08 22:27] sriumcp commented on #731
Fixed.

[2021-08-08 22:27] #731 closed, assigned to nobody

[2021-08-08 22:28] sriumcp commented on #693
This issue is outdated since finish actions are no longer auto-triggered on failure.

[2021-08-08 22:28] #693 closed, assigned to nobody

[2021-08-08 23:01] sriumcp opened #948 "Enable simplex experiments"
**Is your feature request related to a **problem**? Please describe the **problem**.**
A number of changes are needed to user's CI/CD/GitOps processes in order to integrate Iter8 within it. Enable a way for users to start using Iter8 without having to change **anything** about the way they release their applications. In particular, when they deploy a candidate version of their application (as they

[2021-08-08 23:02] sriumcp commented on #864
Subsumed by #948

[2021-08-08 23:02] #864 closed, assigned to nobody

[2021-08-08 23:03] sriumcp commented on #911
Subsumed by #948

[2021-08-08 23:03] #911 closed, assigned to nobody

[2021-08-08 23:04] sriumcp commented on #692
Subsumed by #948

[2021-08-08 23:04] #692 closed, assigned to nobody

[2021-08-08 23:13] sriumcp opened #949 "Drop target acquisition behavior from controller"
**Is your feature request related to a **problem**? Please describe the **problem**.**
The definition and purpose of target is changing in `v2beta1`. Drop the target acquisition behavior from the controller since experiments be auto created with #948 (which already provides sequencing of experiments). We don't want target acquisition behavior interfering with simplex behavior.

**Describe the feat

[2021-08-08 23:25] sriumcp opened #950 "Enable iter8-handler jobs to run in experiment namespaces"
**Is your feature request related to a **problem**? Please describe the **problem**.**
**Note:** This goes back to an initial implementation of handler/jobs.
Iter8 architecture is currently a bit far from being multi-tenant.

1. User A has an application. User B has an application. A uses kubectl to promote their app in a task. B uses kubectl to promote their app in a task. Unfortunately, A can al

[2021-08-08 23:32] sriumcp commented on #912
Subsumed by #934

[2021-08-08 23:32] #912 closed, assigned to sriumcp

[2021-08-08 23:46] sriumcp opened #951 "Combine handler, etc3 and iter8ctl repos"
**Is your feature request related to a **problem**? Please describe the **problem**.**
handler, etc3 and iter8ctl repos are currently separate. Having them separate means two or three separate cascading PRs in place of one due to dependencies between them (not always, but often enough).

**Describe the feature/solution you'd like**
Merge the repos. Merge the handler and etc3 images into a single i

[2021-08-09 00:15] sriumcp commented on #941
It is. But the input can be read from whatever is considered the source of truth about the app (helm values / git file), rather than the cluster (unless we are manipulating objects in cluster).

**Note:** fully fleshed out examples to follow soon.

[2021-08-09 00:17] sriumcp commented on #941
Yes. Duplication of variables can be avoided by defaulting variables from earlier tasks. Example, if `set-weights` task is preceded by a `get-weights` task (reasonable; get current weights, and then find recommended weights, and then set it), `set-weights` can default shared inputs from the `get-weights` task.

Some examples for inputs that can be shared in this way: helm values from git, helm val

[2021-08-09 15:34] sriumcp commented on #939
I think we should drop `versionInfo` based templating from all our tasks for now. Please see #941 and #953. Closing in favor of these latter issues.

[2021-08-09 15:43] sriumcp commented on #798
@kalantar I understand the original motivation for this task (make the `common/bash` task for promotion less scary).

Given that we are now starting to document GitOps-y promotion as well as notification based promotion, I feel we are better off with `common/bash` (and subsequently `run`; see #954). We can continue to invest in order to improve `common/bash` more useful (rather than spreading out

[2021-08-09 15:47] sriumcp commented on #870
I would recommend dropping the `inputs` field from the task spec. This ensures that the user doesn't have to think about the inputs while using this task (encouraging them to use it easily, just like the really beautiful and simple `notification/slack` task).

The actual notification to GitHub can still include `inputs`, but they can be a pre-determined set. Example, WinnerFound & Winner to start

[2021-08-09 16:24] sriumcp opened #953 "Get rid of `versionInfo` based templating. Get rid of `versionInfo` field from `tasks` and `experiment.spec`."
**Is your feature request related to a **problem**? Please describe the **problem**.**
Templating in experiment is complicated. Templating based on version specific information takes this complication to a higher level and makes it really complicated.

**Describe the feature/solution you'd like**
Drop `versionInfo` based templating. Drop `versionInfo` field from all tasks and experiment spec. Vers

[2021-08-09 17:06] sriumcp commented on #945
Superseded by #953

[2021-08-09 17:06] #945 closed, assigned to nobody

[2021-08-09 17:20] sriumcp commented on #941
## Concepts
1. `WeightsFilePath` is an Iter8 template constant. It should point to a YAML file (not necessarily a k8s manifest).
2. Token is an Iter8 template variable. If a proper secret with a token is supplied, it would have the value of the token.
3. Task `get-and-set-file-weights` does the following.
    * update `currentWeightDistribution` in the experiment based on weights in the file point

[2021-08-09 19:04] sriumcp commented on #941
**Note:** There is no repeated information
**Note:** There is no version-info based templating
**Note:** This issue is related to, but different from #953

[2021-08-09 19:19] sriumcp opened #954 "Replace `common/bash` with `run`"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`common/bash` is proving to be useful and a real workhorse. However, it requires at least three lines to specify at the moment instead of a single line.

**Describe the feature/solution you'd like**

Replace `common/bash` with `run`. Please see #960

[2021-08-09 20:09] #939 closed, assigned to nobody

[2021-08-09 20:10] sriumcp commented on #948
@huang195 @kalantar Simplex experiment design above.

[2021-08-09 20:23] sriumcp commented on #941
Subsumed by #953

[2021-08-09 20:23] #941 closed, assigned to nobody

[2021-08-09 20:27] sriumcp commented on #798
Closing for now. Please reopen if you feel more discussion is warranted.

[2021-08-09 20:27] #798 closed, assigned to nobody

[2021-08-09 20:44] sriumcp commented on #954
**Note:** Please see #942

[2021-08-09 20:49] sriumcp commented on #953
**Note:** Please see #942

[2021-08-09 20:50] sriumcp commented on #947
**Note:** Please see #942

[2021-08-09 20:51] sriumcp commented on #940
**Note:** Please see #942

[2021-08-09 20:52] sriumcp commented on #870
Please see #947

[2021-08-09 20:52] sriumcp commented on #863
**Note:** Please see #942

[2021-08-09 23:30] sriumcp opened #955 "Change `condition` to `if` in task meta"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`condition` has 8 letters. `if` has 2.

**Describe the feature/solution you'd like**
Replace with `if`.

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Brevity.

[2021-08-09 23:47] sriumcp commented on #940
Related to #947

[2021-08-09 23:54] sriumcp commented on #943
**Note:** Please see #941

[2021-08-10 19:41] sriumcp opened #958 "Update `ind` image docker built and push workflow"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Iter8:ind docker image build is kicked for any change in the Iter8 repo. This creates spurious images.

**Describe the feature/solution you'd like**
Modify docker built and push workflow so that --
1. iter8:ind docker image is updated whenever there is a tagged release of Iter8
2. whenever there is a merge to ma

[2021-08-10 20:16] sushmarchandran opened #959 "Drop privileged mode from iter8 install using docker"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Iter8 installation steps for domains like CE uses a privileged Docker-in-docker mode. We want to remove the privileged docker dependency so as to run iter8 as a job in these domains

**Describe the feature/solution you'd like**
The solution will run iter8 analytics run locally. The handler will be able to update

[2021-08-11 01:41] sriumcp opened #960 "Create `run` which will eventually replace `common/bash` task."
**Is your feature request related to a **problem**? Please describe the **problem**.**
`common/bash` is proving to be useful and a real workhorse. However, it requires at least three lines to specify at the moment instead of a single line.

**Describe the feature/solution you'd like**

**Note:** The idea is inspired by GitHub Actions `run` spec (which is a special cases of `uses` spec for GH Actio

[2021-08-11 12:20] sriumcp opened #961 "Simplify experiment status"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Experiment status has currently too many unused / unnecessary fields, complicating the UX for the fields that are actually useful / necessary.

**Describe the feature/solution you'd like**
1. `startTime == initTime` (see #949). So, drop `initTime` and remove `Waiting` as a stage.
2. Include `completedLoops`. Thi

[2021-08-11 12:30] sriumcp commented on #691
Subsumed by #961

[2021-08-11 12:30] #691 closed, assigned to nobody

[2021-08-11 16:02] sriumcp commented on #934
[code]

# params, body

[code]

[2021-08-11 17:53] sriumcp commented on #953
# with condition
[code]

***

# with version info
[code]

We will start with conditions. We will always have the option of introducing versionInfo as above, through non version-breaking CRD changes.

[2021-08-11 18:22] sriumcp commented on #953
[code]

[2021-08-11 18:43] sriumcp commented on #953
We want Secret method as part of template execution.

[code]

[2021-08-11 19:00] sriumcp commented on #953
`go` Struct embedding to achieve the above ...

[code]

[2021-08-12 14:27] kalantar commented on #953
An implication of this issue is the use of tasks to get and set weights in tasks. Is that correct? This was described in the now closed issue https://github.com/iter8-tools/iter8/issues/941.

[2021-08-12 15:26] sriumcp commented on #953
Yes, this is correct.

We can reopen a separate issue for this task.

[2021-08-12 19:59] kalantar opened #963 "Add spec.versions"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Per https://github.com/iter8-tools/iter8/issues/953, we will eliminate `spec.strategy.versionInfo`. We still are still interested in having a list of versions that can be used to relate status to the user in a meaningful way. The versions are used to:

    1. Display to the user, for example, in iter8ctl correla

[2021-08-12 20:24] sriumcp opened #964 "Align Makefile and GitHub `build-and-push` workflow with etc3"
**Is your feature request related to a **problem**? Please describe the **problem**.**
etc3 has a better CI workflow and makefile (with static checking, etc.). Need to align CI in handler repo with that of etc3.

**Describe the feature/solution you'd like**
Align CI in handler repo with that of etc3. In particular, include static checker in Makefile and in test command.

**Will this feature/soluti

[2021-08-12 21:21] #964 closed, assigned to sriumcp

[2021-08-12 22:33] kalantar commented on #963
An initial PR was made naming the field `Versions`. This enables other changes. It should be renamed `VersionInfo` to match other uses (in metrics). This will be done in a separate PR once issue https://github.com/iter8-tools/iter8/issues/953 has been addressed.

[2021-08-13 18:51] kalantar commented on #863
Some questions:
- Did we decide to add patterns **Hybrid-A/B** and **Hybrid-A/B**?
- According to rules above, if 3 versions and no reward, it is **SLOValidation**. This is not restricted to 1 or 2 versions?
- Does **SLOValidation** require objectives?

[2021-08-13 18:55] sriumcp commented on #863
Yes, Hybrid-A/B (reward, objectives,  2 versions) and Hybrid-A/B/n (reward, objectives, 2 or more versions) are patterns we will now support, in addition to SLO validation (no reward), A/B (reward + 2 versions) and A/B/n (reward + 3 or more versions).

Yes. I don't think the analytics service should declare any winner in this case though. In any case, testing pattern should be SLOValidation in thi

[2021-08-14 01:12] kalantar commented on #961
[code]
Does this imply Analysis is a required field?  In the past, we had `Analysis *Analysis` (it was optional).

[2021-08-14 01:14] kalantar commented on #961
We currently have a field `Analysis.AggregatedBuiltinHists` (documented as *aggregated builtin metrics will be derived from this data structure*). It is not present in the sample above. Should it be?

[2021-08-14 01:18] kalantar commented on #961
[code]
What is the key *string*? In the past, we had min/max/value/samplesize. Are we reducing to just value?

[2021-08-15 23:04] sriumcp commented on #961
`string` is the name of the version. Must match a name appearing in the experiment's `Spec.VersionInfo` list (of names).

[2021-08-16 12:57] kalantar commented on #961
The proposed model is:
[code]
I would think the version is implicit (ie, order based) in the list of VersionMetrics (as for everything else in `Analysis`. The `string` index of the map must be the metric name? What is the list of values we are storing?  Our old model had 3 values (min/max/value).

[2021-08-16 13:00] sriumcp commented on #961
Sorry @kalantar You are right of course. `string` is the name of the metric. There will be no more `min/max/value`. Far more information is available now in metrics, because we're storing a list of all observations.

This means, we're not storing the min, max, or the latest observation explicitly (all of these can be derived from list if needed).

[2021-08-16 13:42] kalantar commented on #961
@sriumcp so... the list of values is the list of values observed during the current observation window?  Or is it meant to be historical as well (I think we discussed this .. but perhaps it is a future issue)

Does this eliminate the need for buildinHists?

[2021-08-16 13:53] sriumcp commented on #961
@kalantar It is a list of values observed historically (not just the current window).

Yes, it eliminates the need for `builtInHists` (which is a bit of a ugly hack for built in metrics). (so, we can drop this field from status).

[2021-08-16 15:06] kalantar commented on #961
PR https://github.com/iter8-tools/etc3/pull/232 addresses item 1
PR https://github.com/iter8-tools/etc3/pull/233 addresses items 3 and 5
PR https://github.com/iter8-tools/etc3/pull/234 addresses item 2
PR https://github.com/iter8-tools/etc3/pull/235 addresses item 4

[2021-08-16 17:52] kalantar opened #968 "Simplify Spec.Duration"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Simplify the duration field by eliminating the two notions of iteration and loop. Instead just keep the idea of loop.

**Describe the feature/solution you'd like**
[code]
`minIntervalBetweenLoops` expresses that it is the minimum time; addtiional time may be taken by execution of loop handlers.

Using the older

[2021-08-16 19:25] kalantar opened #969 "Remove Spec.Strategy"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Issue https://github.com/iter8-tools/iter8/issues/941 included several changes in addition to removing `Spec.VersionInfo`. This issue documents them:
- removal of `Spec.Strategy.DeploymentPattern` and `Spec.Strategy.Weights`
- move `Spec.Strategy.Actions` to `Spec.Actions`
- delete `Spec.Strategy`

**Describe th

[2021-08-16 19:33] kalantar opened #970 "Move iteration logic to tasks"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Today iter8 has built in logic to read and modify traffic weights. However, if another mechanism such as helm or gitops is used, the user must use loop tasks and modify the experiment to use loops.

**Describe the feature/solution you'd like**
Replace the iter8 logic with tasks that mirror those used for gitops

[2021-08-16 19:33] kalantar commented on #970
Perhaps it is better to have just one method? `get-and-set-weights`?

[2021-08-16 19:36] kalantar commented on #953
Created issue https://github.com/iter8-tools/iter8/issues/970 for this.

[2021-08-16 20:19] kalantar commented on #969
Do we really want to remove `Spec.Strategy.Weights`?

[2021-08-16 20:31] sriumcp commented on #969
Yes. Weight shifting will happen in a task, which means any inputs for weight shifting needs to be colocated with the task (as usual, using a `with` clause).

Sprinkling a little bit of weight information all over the CR doesn't help the user in anyway.

[2021-08-17 11:49] kalantar commented on #969
A field in `Objective` is:
[code]
I don't think we have ever used this. All the related logic is predicated on `Spec.Strategy.DeploymentPattern` (when bluegreen ...).  I believe we should eliminate this field and related behavior as well.  Any thoughts?

[2021-08-17 12:05] sriumcp commented on #969
Please eliminate this field for now.

There is an early termination behavior we want to introduce, but at this stage we don't even know how and haven't designed for it yet. If and when we design it, it can easily be made as a non-version breaking change.

[2021-08-17 12:44] sriumcp opened #971 "Istio install for Knative is not working"
**Describe the bug**
Knative describes two different ways install Istio as a networking layer. Neither of them seem to be working.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Start a kind cluster and try https://knative.dev/docs/admin/install/installing-istio/. The Istio install step hangs and timeout during ingress creation.
2. Try https://knative.dev/docs/admin/install/ser

[2021-08-17 17:28] kalantar commented on #934
Today `Metric.SampleSize` is a reference to a counter metric resource. Is it correct to say that this a *backend* concept (that can be overridden by a metric)? This used to refer to a metric CR. I assume now that it would refer to another metric object. Is it reasonable to assume that it must be defined in the same backend as the referencing metric?  Or do we need a way to refer to metrics from ot

[2021-08-17 17:31] sriumcp commented on #934
We can drop `Metric.SampleSize` for now (we can discuss how to bring it back later, if we need to -- big **if**).

It was a noble concept when conceived (intended for use alongside confidence / other measures); we simply haven't used it yet (and  it is adding complexity without value at the moment).

[2021-08-17 17:34] kalantar commented on #934
When we discussed this issue, we indicated that fields  of a `Backend` could be overridden by fields in one of the metrics. Does this apply to all fields, or are some fields, by definition, back end only -- ie, not overridable. Fields are (currently):
- `AuthType`
- `Method`
- `Body`
- `Provider`
- `JQExpression`
- `Secret`
- `Headers`
- `URL`

Should `VersionInfo` be here as well?

[2021-08-17 17:44] sriumcp commented on #934
Except  `Body`, all other fields (including `versionInfo`) above should be backend specific.

`Name`, `Type`, `Body`, `Params` should be metric specific.

You should be able to override everything within the experiment (or define new  backends / metrics, not pre-defined).

[2021-08-17 17:45] sriumcp commented on #934
Given that we are not really going to be able to get rid of `VersionInfo` for metrics, I feel we don't need two different params (one for each version), we can keep the params  / body structure as it is right now (i.e., once per metric with versioninfo based templating).

[2021-08-17 17:47] sriumcp commented on #934
[code]

[2021-08-17 17:57] kalantar commented on #934
Now that I look at the definition of `VersionInfo`:

[code]
I  am unsure that I like the use of `VersionInfo` in `Experiment.Spec` as a list of version labels. I wonder if we really just want two names for list of version labels and map of name/value.

[2021-08-17 18:13] kalantar commented on #934
Sorry... I am looking at your example (and see others) with `configmap`. Did we decide all metrics are in configmaps; not in the experiment?  Or what is the breakdown we have in mind. Makes sense to have backends in configmaps  I think.

[2021-08-17 19:44] sriumcp commented on #934
We do not make any assumptions  in terms of breakdown between configmap and experiment metrics...

1. Define whatever you want to define in the configmap.
2. (Re) define whatever you want to define in the experiment. If anything in the experiment overlaps with anything in the configmap, the experiment will override configmap.

As far the schema... for both, we will use the same schema as above (a

[2021-08-17 19:52] kalantar commented on #934
Can there be more than one configmap? Do we use a fixed name for the configmap? Or is there a reference in the experiment? or via an annotation in the configmap?

[2021-08-17 20:42] sriumcp commented on #934
Could we please start with a single configmap, that analytics service is bootstrapped with to begin with? Name of the configmap can be fixed in analytics' deployment spec.

Definitely no reference to configmap in the experiment to start with (if we feel the need for it, we can annotate the experiment subsequently).

Idea is that Iter8 will come with a few pre-baked backends and metrics for many do

[2021-08-17 21:00] kalantar commented on #934
It needs also to be configured in iter8ctl.

[2021-08-17 21:02] kalantar commented on #934
We should also have it configured in etc3; it should be validated if users may modify it. The sooner a problem is found, the better.

[2021-08-17 21:06] sriumcp commented on #934
The validation can happen in analytics. I see no reason why every iter8 component needs to be exposed to this configmap (at least to begin with).

If the configmap is invalid, analytics will simply not start (and quit with an appropriate error message).

***

Analytics already does the heavy lifting when it comes to (fetching) metrics. It can do so when it comes to validation of metrics definition

[2021-08-17 21:17] sriumcp commented on #934
At least initially, the configmap will be an install time artifact. So, the problem will be found at the soonest possible instant -- as soon as Iter8 is installed. Eventually, we can decide how to let users edit the configmap more dynamically (if we find that this what users actually want).

***

The user always has the option of ignoring / overriding what is in the configmap and directly specifyi

[2021-08-17 21:29] kalantar commented on #934
We will also defer validation that any criteria's reference to a metric is valid to analytics as well?

[2021-08-17 22:42] sriumcp commented on #934
Yes, that's correct. Analytics can simply complain (in an `iter8ctl debug experiment` friendly manner and format) that it is not finding the corresponding metric and will do nothing for a criterion.

In other words, when the user does `iter8ctl describe`, they will see certain metrics being unavailable, and objectives corresponding to those metrics not being  satisfied (or rewards marked as unavai

[2021-08-18 00:50] sriumcp opened #973 "Drop request count, strength, and indicators from criteria"
**Is your feature request related to a **problem**? Please describe the **problem**.**
We should drop request count, strength, and indicators from criteria to begin with. They can be brought up later (non-version breaking CRD change) if we need to. But the story for each of them is far from clear at this point, and we never got a chance to develop them with v2alpha2.

**Describe the feature/soluti

[2021-08-18 00:58] sriumcp commented on #872
@Alan-Cha Do you want to take this on? Helm repo upgrade is actually needed now for the linkerd tutorial to work. I will do this manually for now.

[2021-08-18 14:44] Alan-Cha commented on #872
Yes, I will take a look at this. I have been taking a look at the other GitHub workflows as well recently.

[2021-08-18 16:08] kalantar commented on #934
This doesn't seem intuitive especially if it is a configmap. Perhaps that is just a poor choice and that it would be only in an experiment.

From closest to furthest use. The closest would be in the reward/objective itself:

[code]
It is my observation that if there is more than 1 reward/criteria it is likely that much of the `versionInfo` will be duplicated. Hence it may make sense to put it at t

[2021-08-18 16:19] sriumcp commented on #934
If you take a specific backend, for example, Prometheus add-on supplied by Istio, and look at the metrics exported by it, there are specific label values associated with different versions. And this association is the same across metrics exported by Istio.

For example, you will see `destination_service_name` and `source_service_name` labels appearing consistently across metrics for this backend (

[2021-08-18 17:11] sriumcp commented on #943
Note: To begin with, we plan to drop the experiment that uses Helmex-update, and reintroduced  it subsequently using a run task. This seems far easier than having to change "in place"

[2021-08-18 18:30] #960 closed, assigned to nobody

[2021-08-18 18:30] #971 closed, assigned to sriumcp

[2021-08-18 19:49] kalantar opened #974 "Document CRD changes for v2beta1"
**Description:**

A number of changes were made for the v2beta1 version of the CRD. The issues have been closed but the reference documentation needs to be updated.  This issue is for the necessary documentation changes.  Issues are:
- [Drop target acquisition behavior from controller](https://github.com/iter8-tools/iter8/issues/949)
- [Remove and auto compute testing pattern](https://github.com/i

[2021-08-18 19:51] #863 closed, assigned to kalantar

[2021-08-18 19:51] #949 closed, assigned to kalantar

[2021-08-18 19:51] #953 closed, assigned to nobody

[2021-08-18 19:51] #963 closed, assigned to kalantar

[2021-08-18 19:51] #968 closed, assigned to kalantar

[2021-08-18 19:51] #969 closed, assigned to kalantar

[2021-08-20 18:18] kalantar opened #982 "Validate that either `run` or `task` specified for an action."
**Is your feature request related to a **problem**? Please describe the **problem**.**
If both task and run are unspecified, the controller fails (in `v2alpha2` at the target acquisition stage), with no indication of why it was failing.

**Describe the feature/solution you'd like**
We should check for this during validation (i.e., each task must contain exactly one of task or run but not both)? If

[2021-08-20 18:37] kalantar opened #983 "Generate handler job manifest instead of using handler.yaml"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Install and configuration of Iter8 is made harder by need to read handler.yaml -- the manifest for handler jobs. It was expected that this yaml might change frequently. However, this has not proved to be the case. It would be simpler if there was no need to mount the handler yaml.

**Describe the feature/solutio

[2021-08-27 13:28] #930 closed, assigned to nobody

[2021-08-27 13:28] #934 closed, assigned to nobody

[2021-08-27 13:28] #973 closed, assigned to kalantar

[2021-08-31 19:47] kalantar commented on #954
@sriumcp is this issue completed? Can it be closed?

[2021-09-01 00:18] #982 closed, assigned to kalantar

[2021-09-01 00:18] #983 closed, assigned to kalantar

[2021-09-01 14:04] kalantar opened #986 "Analytics Support for v2beta1"
**Is your feature request related to a **problem**? Please describe the **problem**.**
A number of changes to an Experiment have been made (cf. issues ) for version `v2beta1`. The analytics service must be updated to support these changes.

**Describe the feature/solution you'd like**
Update analytics API to new version to support `v2beta1`. Probably as version `v3.0.0`.

**Will this feature/solut

[2021-09-08 16:31] sriumcp opened #988 "Create Helm template for your first experiment without templating the app"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Currently, your-first-experiment uses a Helm template that templates not only the experiment but also the application. This makes it less obvious how to use the experiment for users who do not use Helm to deploy their application.

**Describe the feature/solution you'd like**
Template the experiment. Not the app

[2021-09-08 17:26] #988 closed, assigned to sriumcp

[2021-09-10 15:24] kalantar opened #991 "Add verification of docker build to etc3 github workflow"
**Is your feature request related to a **problem**? Please describe the **problem**.**
At times, we merge code to main only to have the build-and-push workflow fail because of a problem with docker build

**Describe the feature/solution you'd like**
Include a test of the docker build of image in the build-and-test workflow

**Will this feature/solution bring new benefits for Iter8 developers? What

[2021-09-13 19:08] #943 closed, assigned to sriumcp

[2021-09-14 19:15] sriumcp opened #996 "Minor improvements to landing page and first tutorial"
**Description:**

1. Replace K8s with Kubernetes everywhere (this seems to be how Kubernetes docs refer to Kubernetes)
2. Replace `candidate` in the figure in the *getting started* tutorial with `app`
3. Shorten solution description in the above tutorial:  remove `In this tutorial, you will`

[2021-09-17 19:37] kalantar commented on #954
I guess not; removal of bash is still necessary. I will do this as part of v0.8

[2021-09-17 19:38] kalantar commented on #954
I think we want to remove `common/exec` as well, no?

[2021-09-17 19:54] sriumcp opened #999 "Create ActionType enum in etc3"
**Is your feature request related to a **problem**? Please describe the **problem**.**
While defining experiment CRD, action maps are currently defined as map[string][]Task.

**Describe the feature/solution you'd like**
We want map[ActionType[]Task, where ActionType is a (string) enum with three possible constants, "start", "loop", and "finish".

**Will this feature/solution bring new benefits for

[2021-09-17 20:28] sriumcp commented on #954
Yes.

[2021-09-20 16:07] sriumcp opened #1000 "Expand `metrics/collect` inputs so that it can take better advantage of Fortio's load testing capabilities"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Support numQueries, payload string, and content type in `metrics/collect`.

**Describe the feature/solution you'd like**
[code]

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Enable easier testing of POST APIs (example with payload string, and different content types). Also be

[2021-09-21 18:01] kalantar opened #1002 "`iter8ctl describe` does not work if caller does not have cluster wide permission"
**Describe the bug**
`iter8ctl describe` should retrieve details of the latest experiment. However, it relies on cluster wide access so if a user has restricted access, the command fails.

**To Reproduce**
Observed in CIL environment where one is logged in as user.

[code]

Even restricted to a valid namespace, this fails:

[code]

Even specifying the experiment is insufficient:

[code]

**Expecte

[2021-09-21 18:10] sriumcp commented on #1002
I believe this is the problem line: https://github.com/iter8-tools/etc3/blob/24336608a7c00f6c5bdc6a8581fb040fb55a25b8/iter8ctl/experiment/experiment.go#L101

Using a namespace within the list options might be a possible fix for this.

[2021-09-21 18:14] kalantar commented on #1002
I agree. I have a fix for this. I am not sure how I can reproduce this in a local cluster. Any ideas?

[2021-09-21 18:15] kalantar commented on #1002
Also, I've suggested we limit results to a single cluster. This is a change from our current behavior. Any thoughts?

[2021-09-21 18:17] sriumcp commented on #1002
I don't understand the above.

Re: local cluster, I don't know if there's a way to run minikube or kind without the cluster-admin rights for the user. If our test-cases pass, and if your CIL use-case can be manually verified, we should be good to go.

[2021-09-21 18:24] kalantar commented on #1002
The current implementation of `iter8ctl describe` finds the most recent experiment from all namespaces. By using a namespace filter on the get api, we will be altering the behavior; it will be the most recent experiment in a single namespace.  I think this is ok. And probably clearer.

[2021-09-21 18:29] kalantar commented on #1002
@atinsood FYI

[2021-09-21 18:32] sriumcp commented on #1002
Ok. I was confused because your sentence said a `single cluster`; I now understand that you're referring to a `single namespace`.

Yes, this change is ok. However, this change affects not just describe, but also assert and debug subcommands, which is fine.

Also, we want to change this related behavior ... https://github.com/iter8-tools/etc3/blob/24336608a7c00f6c5bdc6a8581fb040fb55a25b8/iter8ctl/c

[2021-09-21 18:35] kalantar commented on #1002
How do we want to change this? `namespace` is always set to something (as you mentioned).

[2021-09-21 18:47] sriumcp commented on #1002
1. First, we want to change the description in the help text (specifically, the line I pointed to and other such lines if any)
2. Second, in terms of how iter8ctl finds numargs (and sets latest to  true or false), we want to get it right. Currently, there is a logic for setting latest to true or false which based on number of positional arguments supplied to iter8ctl command. We will want to make

[2021-09-21 18:51] kalantar commented on #1002
I tested this manually. The namespace args are removed before this calculation is done. It works perfectly without change.

[2021-09-21 19:19] sriumcp commented on #959
**End-goal**
Run a job as follows.

[code]

The `helm template` line would above would create `/scratch/experiment.yaml` which looks as follows.

[code]

[2021-09-22 14:59] kalantar commented on #1002
Our solution may not be sufficient for CIL. We've set the default to `default`. @atinsood will this work?  https://github.ibm.com/cloud-innovation-lab/issue-tracker/issues/425 suggests not.

@sriumcp CIL is defining a kubeconfig with a context set to a namespace other than default. Are you aware of a way to determine the namespace of the current context instead of using `default`?

[2021-09-22 15:49] sriumcp commented on #1002
The simplest solution I can think of is, export the value of default from kubeconfig context to an env variable, and then use this env variable as part of other tools (including `iter8ctl` and also perhaps `kubectl`).

It is possible that `kubectl` might have some command to extract this context info, so setting of the env variable could be potentially simplified.

***

I think `iter8ctl` ultimate

[2021-09-22 18:59] kalantar commented on #1002
I am not sure that it is. One can define a current context using a namespace and this would be typical in a shared cluster.  We have done most of our work in the context of a single cluster with admin access so we haven't thought about this. Further, it is not a relevant concern for etc3.

[2021-09-22 18:59] kalantar commented on #1002
I have found a way to determine this. It isn't pretty and I am sure there is a better way. I'll submit a PR and we can decide what to do.

[2021-09-22 19:00] kalantar commented on #1002
I am inclined to suggest we also allow a `--kubeconfig` option on iter8ctl; this is very common for kubernetes utilities.. I'll create separate issue for this.

[2021-09-22 19:08] kalantar opened #1005 "Support `--kubeconfig=''` option for iter8ctl"
**Is your feature request related to a **problem**? Please describe the **problem**.**
It is a common option for kubernetes utilities as a way to specify a kube config file.

**Describe the feature/solution you'd like**
allow global option `--kubeconfig=''`

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Common approach to other kubernetes utilities

**Will this

[2021-09-22 19:11] sriumcp commented on #1005
This seems like a good idea.

https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client/config#GetConfig already supports this.

[2021-09-23 12:20] sriumcp opened #1007 "Document how to install Iter8 on OpenShift"
**Description:**

- [ ] Document the OpenShift equivalent of the current Iter8 installation instructions on Kubernetes... the equivalent should be ...

## Install on OpenShift

[code]

Verify that the instructions work using code-ready containers (CRC).

- [ ] Document how to create a local OpenShift cluster using CRC in setup-for-tutorials.md

***

[2021-09-23 15:12] sriumcp opened #1008 "Create a new type of metric: sample"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Consider an A/B testing use-case where purchase history (e.g., shopping cart $ value) has been stored for versions A and B. Using the entire sample of the purchase history for both A & B will help compute things like confidence values in a much better way (using Iter8's older PBR/OBR algorithms) as opposed to si

[2021-09-23 15:46] sriumcp commented on #961
In order to support #1008 ...

[code]

***

alternative 1:

[code]

***

alternative 2:

[code]

***

alternative 3:

[code]

[2021-09-23 16:05] sriumcp opened #1009 "Replace `iter8ctl describe` with `kubectl describe`"
**Is your feature request related to a **problem**? Please describe the **problem**.**
Installing iter8ctl is not so easy in many environments (example, KUI/CIL). This makes it hard to exercise `iter8ctl describe` in such environments.

**Describe the feature/solution you'd like**
Enhance `kubectl describe` output for the experiment so that `iter8ctl` is not needed to describe an experiment in the

[2021-09-23 17:56] kalantar commented on #961
Example of alternative 3 (seems to be the best):

[code]

[2021-09-23 18:03] kalantar commented on #961
Reconsideration of design. Reopening issue.

[2021-09-24 12:29] huang195 commented on #1007
During a very brief period when I had CRC working on my laptop, I was able to verify that the above commands install Iter8 correctly.

[2021-09-27 08:09] SharpEdgeMarshall commented on #741
I'm new to iter8 and I'm having a hard time trying to understand how built-in metrics works.
Am I forced to generate fake traffic using collect or can I send live traffic to the experiment?
I think the documentation should explain more this high level concepts

[2021-09-27 12:38] sriumcp commented on #741
Hi @SharpEdgeMarshall

Welcome to Iter8.

Built-in metrics already do the job of sending traffic to your applications and collecting metrics. So, you do not have to do any load generation separately. So, the traffic is fake, but the metrics are real (based on how your app performs with regards to this fake traffic).

***

https://iter8.tools/0.7/getting-started/first-experiment/ is an example of a

[2021-09-27 12:40] sriumcp commented on #741
You can of course run Iter8 experiments with live traffic.

If you want to use live traffic, the metrics need to be collected in a database (example Prometheus; it can be any DB). Iter8 does not "intercept" your live traffic; however, assuming you are collecting metrics for live traffic in a DB, Iter8 does have the custom metrics capability which can utilize metrics from any database, collected by

[2021-09-27 12:47] SharpEdgeMarshall commented on #741
@sriumcp Thank you for your prompt answer.
Yes I was near to understand that built-in metrics works only with `metrics/collect` but this is not explained very well.
ATM we are evaluating iter8 to do ML canary releases, based on the fact that ML services are idempotent and pure I think that the best testing strategy would be using mirroring but also this part is not explained in v0.7, looking at v0

[2021-09-27 12:57] sriumcp commented on #741
Thank for the feedback re: docs. We can certainly document builtin metrics better, and will do so shortly.

***

Re: mirroring, what ingress/service mesh are you using to achieving the traffic mirroring function? Istio? And also how are you collecting metrics for the mirrored traffic (/shadow deployment of your app)? Which DB is the metrics stored in? We might be able to describe/document a simple

[2021-09-27 13:49] kalantar opened #1013 "Allow interpolation in url parameter for metrics/collect"
**Is your feature request related to a **problem**? Please describe the **problem**.**
To better support deployment in multiple namespaces or to be able to deploy to a current context other than `default`, it would be beneficial to be able to allow the namespace to be a parameter everywhere. Today, we support this, for example, in run commands using `{{ .Namespace}}`. Allow this elsewhere that nam

[2021-09-28 17:43] #1002 closed, assigned to nobody

[2021-09-30 17:48] sriumcp commented on #1013
With v0.8, this problem can be trivially solved in Iter8Hub experiments, all of which will be Helm templated.

Wherever, namespace information needs to be included, it can be done so using {{ .Release.Namespace }} construct.

[2021-09-30 17:49] sriumcp commented on #1009
There is no more experiment CRD, so closing this.

[2021-09-30 17:49] #1009 closed, assigned to nobody

[2021-09-30 17:50] sriumcp commented on #1000
Resolved.

[2021-09-30 17:50] #1000 closed, assigned to sriumcp

[2021-09-30 17:56] sriumcp opened #1022 "Provide reason with `iter8ctl describe` winner assessment"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`iter8ctl describe` provides a definition of a winner is computed by Iter8. This is a bit obscure as of today.

**Describe the feature/solution you'd like**
1. Include a `winner found` boolean field in the output.
2. Provide a reason why there no winner found, or why a particular version is declared as the winne

[2021-09-30 18:08] #697 closed, assigned to nobody

[2021-09-30 20:12] kalantar commented on #908
I have been reflecting on my personal process of debugging Iter8 experiments. A key first step that allows me to ignore many irrelevant details is to get a general idea of what the problem is. Is it a validation problem? Is it in a task?  Which task? Is it a metric? Is it the interaction with the analytics service?  Did it go through any loops? To gain this insight, I find that the list of kuberne

[2021-09-30 21:08] sriumcp commented on #908
Could you please describe what `kubectl describe experiment` gives which is not present in the above list?
***
Personally, I have not found `kubectl describe` especially useful. For most errors, I have had to dig deeper into logs (which are themselves unreadable and certainly not worthy of being dumped directly on an end-user).

Having said that, I would like to understand precisely what `kubectl

[2021-10-04 19:30] kalantar commented on #908
Today `kubectl describe` lists the events that have been issued. Errors are usually explicitly listed. This is more useful than the message you see with `kubectl get` since this is the message from the last event. The actual error is overwritten by a geneic "failed" event.  Further, the list of events indicates where in the process the error occurred.

In thinking about this in the context of a co

[2021-10-05 19:09] Alan-Cha commented on #1007
After a lot of hiccups, I was able to get CRC working momentarily on my laptop:

[code]

However, as you can see, there are no pods running, which I thought was strange.

Here are some more logs:

[code]

[code]

However, once again, I encountered more issues. I keep disconnecting from the OpenShift server(?), which prevents me from getting more information about the deployments and pods.

[2021-10-05 19:16] Alan-Cha commented on #1007
I can try one more time, but it has already taken up so much time and every time I try, there are new problems that I do not know how to resolve.

[2021-10-05 19:16] Alan-Cha commented on #1007
For reference, I am on v4.8.12.

[2021-10-05 19:37] Alan-Cha commented on #1007
Ah this time, it seems to be running correctly.

[code]

[2021-10-07 18:27] kalantar opened #1025 "Use `metricsBackends` instead of `backends` (v0.8)"
**Is your feature request related to a **problem**? Please describe the **problem**.**
In v0.8, metrics are expressed in the `backends` portion of an experiment. The name `backends` is very generic, use a better term, such as `metricsBackends`.

**Will this feature/solution bring new benefits for Iter8 users? What are they?**
Clearer experiment manifest.

**Does this issue require a design doc/dis

[2021-10-08 20:32] kalantar opened #1026 "Taskrunner job names can conflict"
**Describe the bug**
If an experiment is created in one namespace it runs to completion. If a second experiment with the same name is created in another namespace, the experiment claims to complete but never actually runs any tasks. The job already exists and has completed so the experiment thinks it is done.

**To Reproduce**
See description above.

**Expected behavior**
Creation of second job sh

[2021-10-13 03:01] sriumcp commented on #908
1. Supplying an improper token can result in `-run` task not completing properly. But the debug output in this scenario doesn't reveal the issue. The run script fails due but the STDERR from the failing execution is lost
2. Supplying a GitHub Actions workflow that is not in the specified branch also has similar issues as above
3. Some errors seem to be printed twice (example, missing resource name

[2021-10-29 13:40] kalantar opened #1042 "metrics/collect fails when headers are specified for an endpoint"
**Describe the bug**
When using the task `metrics/collect` with header parameters, the task us unable to successfully send requests to the target endpoint.  Errors are returned. However, the fortio command copied from the log works successfully. Something is not working from the go call.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Create application where a header is require

[2021-10-29 13:41] kalantar commented on #1042
This may not be an issue in v0.8 since we are using the fortio libraries instead of calling via exec.Command

[2021-11-02 15:39] kalantar opened #1043 "iter8 assert should give insight into failing clause"
**Is your feature request related to a **problem**? Please describe the **problem**.**
`iter8 assert` evaluates a number of conditions and returns with either a response code of 0 or 1. This is great when used in a script. However, I don't get any insight into which assertion failed. Perhaps we need a `-v|--verbose` option that identifies success/failure per clause.  Alternatively, could just have

[2021-11-02 15:42] kalantar commented on #1043
This seems to be present in log messages (`LOG_LEVEL=info`)

[2021-11-02 17:10] sriumcp commented on #1043
This seems like a basic requirement for assert. When it fails, it should print why it failed (what assertions were not satisfied) even without a -v switch.

[2021-11-05 19:19] #1042 closed, assigned to nobody

[2021-12-14 13:34] kalantar opened #1074 "Address possible race conditions in iter8 CLI"
**Describe the bug**
There are several cases where commands may be called before the secret/result is created:
- `assert`, `report`, and `logs` are examples.
When an experiment job starts, it is possible that the secret has not been created.

**Expected behavior**
These command will be resilient to slow secret creation by retrying and, eventually, gracefully failing.

[2021-12-14 13:59] kalantar opened #1075 "Support `--app` flag in CLI"
**Describe the feature/solution you'd like**
Iter8 supports the notion of an *app* that can be specified for experiments.  This can be set by using `--set app=app` when generating the Kubernetes objects for an experiment with `iter8 gen k8s`. The app is denoted on each object using the `iter8.tools/app` key in `metadata.labels`.

Allow filtering of experiments by *app* in other commands.

- `iter8

[2021-12-16 14:38] sriumcp opened #1092 "Improve the documentation for CLI commands"
1. Some commands have synopsis, others do not.
2. Indentation affects the gray bounding boxes that show up in MkDocs. Make this uniform.
3. Comments are sometimes capitalized, some times not.
***
Place examples and environment variables could in slices with formatting methods to make the formatting more uniform.

[2021-12-16 14:39] sriumcp commented on #735
Obsolete.

[2021-12-16 14:39] #735 closed, assigned to nobody

[2021-12-16 14:40] #741 closed, assigned to sriumcp

[2021-12-16 14:40] sriumcp commented on #744
Obsolete.

[2021-12-16 14:40] #744 closed, assigned to nobody

[2021-12-16 14:45] sriumcp commented on #745
Obsolete.

[2021-12-16 14:45] #745 closed, assigned to nobody

[2021-12-16 14:46] sriumcp commented on #746
Obsolete.

[2021-12-16 14:46] #746 closed, assigned to nobody

[2021-12-16 14:46] sriumcp commented on #749
Done.

[2021-12-16 14:46] #749 closed, assigned to nobody

[2021-12-16 14:47] sriumcp commented on #865
Obsolete.

[2021-12-16 14:47] #865 closed, assigned to nobody

[2021-12-16 14:47] sriumcp commented on #868
Obsolete.

[2021-12-16 14:47] #868 closed, assigned to Alan-Cha

[2021-12-16 14:48] sriumcp commented on #870
Obsolete.

[2021-12-16 14:48] #870 closed, assigned to kalantar

[2021-12-16 14:48] sriumcp commented on #872
Obsolete.

[2021-12-16 14:48] #872 closed, assigned to kalantar

[2021-12-16 14:49] sriumcp commented on #1075
Done.

[2021-12-16 14:49] #1075 closed, assigned to nobody

[2021-12-16 14:50] #948 closed, assigned to nobody

[2021-12-16 14:50] #950 closed, assigned to nobody

[2021-12-16 14:50] #951 closed, assigned to kalantar

[2021-12-16 14:50] #954 closed, assigned to nobody

[2021-12-16 14:50] #955 closed, assigned to nobody

[2021-12-16 14:50] #958 closed, assigned to sushmarchandran

[2021-12-16 14:50] #959 closed, assigned to sushmarchandran

[2021-12-16 14:50] #961 closed, assigned to nobody

[2021-12-16 14:50] #970 closed, assigned to kalantar

[2021-12-16 14:50] #974 closed, assigned to nobody

[2021-12-16 14:50] #986 closed, assigned to sriumcp

[2021-12-16 14:50] #991 closed, assigned to nobody

[2021-12-16 14:50] #996 closed, assigned to sriumcp

[2021-12-16 14:50] #999 closed, assigned to nobody

[2021-12-16 14:50] #1005 closed, assigned to nobody

[2021-12-16 14:50] #1007 closed, assigned to Alan-Cha

[2021-12-16 14:50] #1008 closed, assigned to kalantar, sriumcp

[2021-12-16 14:50] #1013 closed, assigned to nobody

[2021-12-16 14:50] #1022 closed, assigned to sriumcp

[2021-12-16 14:50] #1026 closed, assigned to kalantar

[2021-12-16 14:50] #1043 closed, assigned to nobody

[2021-12-16 14:50] #1074 closed, assigned to kalantar

[2021-12-16 14:51] #880 closed, assigned to Alan-Cha

[2021-12-16 14:51] #908 closed, assigned to sriumcp

[2021-12-16 14:51] #909 closed, assigned to nobody

[2021-12-16 14:51] #910 closed, assigned to nobody

[2021-12-16 14:51] #922 closed, assigned to sushmarchandran

[2021-12-16 14:51] #924 closed, assigned to nobody

[2021-12-16 14:51] #927 closed, assigned to nobody

[2021-12-16 14:51] #935 closed, assigned to sriumcp, ispeakc0de

[2021-12-16 14:51] #937 closed, assigned to nobody

[2021-12-16 14:51] #940 closed, assigned to nobody

[2021-12-16 14:51] #947 closed, assigned to nobody

[2021-12-16 14:51] #1025 closed, assigned to nobody

[2021-12-16 15:02] sriumcp opened #1094 "Create `iter8 k docs` hidden command"
Currently, there is  a separate package (`cmd/docs/main`) meant only for generating docs. Remove this package and instead introduce `iter8 k docs` hidden command instead.

This eliminates a needless extra package, and also makes `RootCmd` into  `rootCmd`.

This is the approach taken by Helm.

[2021-12-16 15:09] sriumcp opened #1095 "Improve isolation between versions"
While working with k8s experiments, ensure CLI version matches experiment version (version label in experiments)... specifically, Iter8 CLI v0.8 should ignore all experiments that are not marked as v0.8 (same is true for v0.9, ...).

This ensures ease of migration for end-users and also ensures ease of introducing breaking changes for developers.

[2021-12-16 15:11] sriumcp opened #1096 "Clean up repo"
1. Refactor images (deleting most)
2. Delete and gitignore .DS_Store
3. Cleanup testdata

[2021-12-16 15:36] sriumcp opened #1097 "Improve semver extraction during CI"
1. Do not publish `latest` Docker image when a release is published. In other words, remove [these lines](https://github.com/iter8-tools/iter8/blob/ee99956b0f2feaf0d93ae26e65b3d18f267ddb5f/.github/workflows/buildlatestimage.yaml#L3).
2. Instead of using a patchwork of sed and cut commands [like this](https://github.com/iter8-tools/iter8/blob/ee99956b0f2feaf0d93ae26e65b3d18f267ddb5f/.github/workflo

[2021-12-16 15:57] sriumcp opened #1098 "Sign binary installs"
Binary archives should be signed and verifiable such as those supported by Helm, kn, kubectl, and other go based projects (the good ones anyway).

[2021-12-17 20:06] kalantar opened #1100 "CLI does not work for IKS"
CLI does not correctly create client for IKS (IBM Kubernetes Service) and perhaps others.

[code]

[2021-12-17 20:07] kalantar commented on #1100
It is necessary to import the needed authentication libraries:

    _ "k8s.io/client-go/plugin/pkg/client/auth"

[2021-12-17 21:00] #1100 closed, assigned to kalantar

[2022-01-03 13:53] sriumcp opened #1102 "Fix v0.7 install and broken links"
v0.7 install instructions need fixing.
***
[code]
Replace `master` with `v0.7` above.
***

[code]

***
Fix broken links.

This  iter8 page has broken links:
https://iter8.tools/0.7/metrics/builtin/#example-channel
This link is broken: https://iter8.tools/0.7/tutorials/knative/testing-strategies/conformance/#5-launch-experiment

[2022-01-03 14:11] sriumcp opened #1103 "Restructure Iter8 v0.8 experiment folder to be in line with a Helm Chart"
Currently, an Iter8 experiment folder does not have any restrictions in terms of its structure (other than the fact that it needs to include an `experiment.yaml` file).

Restructure this so that it resembles a Helm Chart (in other words, Iter8 experiment will be a special type of Helm chart).

***

Key advantages of the above redesign are the following.

1. We can do away with `iter8 gen go` (for

[2022-01-03 14:24] sriumcp opened #1104 "Enable brew install of Iter8 (v0.8)"
`brew` install also benefits from binary installs of Iter8, so the latter is probably pre-req.

[2022-01-03 15:03] kalantar commented on #1103
How does this impact `iter8 gen k8s`?

[2022-01-03 16:22] sriumcp commented on #1103
Good Q.

For now, I believe it does not impact `iter8 gen k8s` in anyway.

Eventually, we will want to assess if it makes sense to  use Helm libraries directly (we also want to develop the design of the auto triggered experiments for A/B/n expts. before making radical changes to the k8s part; auto triggered experiments will provide additional reqs).

[2022-01-03 16:41] sriumcp commented on #1104
Duplicate of #1098

[2022-01-03 16:41] #1104 closed, assigned to sriumcp

[2022-01-03 17:04] kalantar commented on #1103
It seems that restructuring as a helm chart means that experiment.yaml would be in the templates folder of a helm chart. Is this the thought? This would have implications on where `iter8 gen k8s` finds this.

[2022-01-03 17:26] sriumcp commented on #1103
`experiment.yaml` can continue to be where it is at the moment...

However, `templates` folder should get `experiment.tpl`, and at least for code engine, `spec-secret.yaml`, `result-secret.yaml`, and `jobrun.yaml` (file names are just meant as examples).

Note that `experiment.yaml` is not an actual k8s manifest, unlike the `yaml` files inside `templates`.

To be really specific, we will have:

`i

[2022-01-06 22:07] sriumcp opened #1108 "Consider getting rid of `iter8 gen exp`"
Every experiment is intended to be run through an experiment chart. Consider rolling `iter8 gen exp` into `iter8 run`.

In particular, `iter8 run` should:
1. Generate `experiment.yaml` from current chart and run it. For this purpose, it would take exactly the same set of options as `iter8 gen exp`, including ways to set values. This combines the behaviors of current `iter8 gen exp` and `iter8 run`

[2022-01-06 23:15] sriumcp opened #1109 "Support brew install"
Projects like kn, kubectl and Helm (and other good go based projects) seem to have this feature! Clearly, this makes iter8 useful for non go programmers.
***
- [ ] A first PR needs to create the Homebrew formula
- [ ] A second PR needs to create documentation for brew and bottle installs

[2022-01-07 13:52] #1103 closed, assigned to sriumcp

[2022-01-10 23:51] #1096 closed, assigned to nobody

[2022-01-10 23:58] sriumcp opened #1122 "Create tutorials that demonstrate various facets of load testing"
Iter8's load testing template already supports the following three aspects of testing.
***
- [x] Fine grained control over the request generation
- [x] HTTP GET & POST endpoints
- [x] Fine grained control over how errors are defined, and which percentiles are computed  and used in SLOs
***
Create tutorials that clearly document how the user is expected to exercise these features. Use `--set` value

[2022-01-11 16:18] sriumcp commented on #1094
Closing .. in the spirit of ... "don't fix what is not broken"

[2022-01-11 16:18] #1094 closed, assigned to nobody

[2022-01-11 18:23] #1109 closed, assigned to sriumcp

[2022-01-12 16:36] #1108 closed, assigned to sriumcp

[2022-01-12 17:49] sriumcp opened #1130 "Support HTTP POST with payload in load test template"
Current load test template does not support HTTP POST with payloads. Enable this.

[2022-01-13 15:10] kalantar opened #1131 "Write result of `iter8 run --dry` to stdout"
`iter8 run --dry` renders experiment.yaml without running the experiment. Use of `iter8 run --dry` is to see the experiment being generated; it may be easier for users if we (also) output to stdout. This would be behavior similar to other tools like `helm template`.

[2022-01-13 15:14] sriumcp commented on #1131
Perhaps the real issue is how quiet the whole `iter8 run --dry` execution is? Would it be sufficient if we simply log the message, `Created experiment.yaml file which contains the Iter8 experiment spec`.
***
If we do print to stdout, I feel we must have a `--verbose`  mode which makes that happen, and not the regular mode.

[2022-01-13 15:17] sriumcp commented on #1130
Resolved by #1129

[2022-01-13 15:17] #1130 closed, assigned to sriumcp

[2022-01-13 18:32] huang195 opened #1132 "iter8 run --dry needs to be more verbose about problems"
After iter8 hub -e load-test, if I don't give a valid url parameter in values.yaml, it seems iter8 run --dry would complete without generating an experiment.yaml file and without any error. This seems a bit oddd

[2022-01-13 19:20] #1131 closed, assigned to nobody

[2022-01-13 19:20] #1132 closed, assigned to nobody

[2022-01-14 14:03] #1122 closed, assigned to sriumcp

[2022-01-14 16:46] sriumcp opened #1137 "Make it easy to specify SLOs"
Currently, specifying SLOs in the load test tutorial is a tedious process due to the need to edit the values.yaml. Make this simple and intuitive, for example:

[code]

[2022-01-17 05:01] sriumcp opened #1139 "Enable spike testing experiments"
A good description of Spike testing is [here](https://support.smartbear.com/readyapi/docs/performance/configure/new/templates/spike.html) and [here](https://www.educative.io/edpresso/what-is-spike-testing).

[2022-01-17 05:09] sriumcp opened #1140 "Enable `iter8 init` subcommand"
Iter8 init should enable chaining  together existing experiment charts to create a new one, or if none is specified, it should create a default one (example, a clone of the load test experiment).

[2022-01-17 05:10] sriumcp opened #1141 "Enable notifications in experiments"
It is drop dead simple to use a curl command as part of the `run` task to send HTTP, slack, and cloud event notifications. Enable them in a (library) chart.

[2022-01-17 05:11] sriumcp opened #1142 "Enable `jitter` attributes in load test"
Fortio, on which Iter8's current load test capabilities are based supports a `jitter` behavior. Iter8 should support it as well.

***

One way to achieve the above is by simply embedding the Fortio runner config struct into collect-http task input struct. This does cause version breaking changes, but substantially simplifies the input struct for the task.

[2022-01-18 16:41] #1137 closed, assigned to nobody

[2022-01-19 16:09] kalantar opened #1144 "Document how to update iter8 (brew)"
We should document the command to upgrade iter8:

    brew upgrade iter8

This seems important because iter8 changes frequently.

[2022-01-19 17:01] sriumcp commented on #1144
Perhaps also provide the upgrade commands for other ways (go and binaries -- even though they may identical to the install commands).

[2022-01-19 18:39] sriumcp opened #1145 "Create a Iter8 Tekton task"
- [ ] Similar to the `kn` task, make sure an `Iter8` Tekton task shows up in the public Tekton task catalog, with a clear example.

[2022-01-19 18:41] sriumcp commented on #1145
1. Apparently, there is a separate RH OpenShift Pipelines task catalog. Find out where it is. Find out upstream relationship. Find out how to make Iter8 show up in the RH catalog.

[2022-01-19 18:51] sriumcp opened #1146 "Create a GitHub Actions task"
1. Needs to show up in Marketplace (hosted in the main Iter8 repo for star-ability; repo structure)
2. Figure out semantic versioning of the action, and also implications for version breaking Iter8 changes (the actions version needs to subsume this story)
3. Identical in functionality to the Tekton -- except it works inside GH actions pipelines

[2022-01-19 18:52] kalantar commented on #1146
Current POC is here: https://github.com/kalantar/iter8-run

[2022-01-19 21:51] sriumcp opened #1147 "Create documentation for how to add a new task to Iter8"

[2022-01-20 14:23] huang195 opened #1148 "iter8 cmdline tool problem in gitops scenario"
An iter8 experiment is kicked off in a Tekton task, and now it's finished, I want to check its results. I ran iter8 k report (on my laptop) and got the following error msg:

[code]

Looking at the secrets below:
[code]

Shouldn't iter8 k report look for an experiment called experiment-wtzts and returns the results in experiment-wtzts-result?

[2022-01-20 14:24] huang195 commented on #1148
Looks like if I explicitly give the id, it works (with a warning):

[code]
I thought iter8 would assume the last experiment if id parameter is not given

[2022-01-20 16:34] sriumcp commented on #1148
Could you please show the Tekton task? What is the version (`iter8 version`) of Iter8 running inside Tekton, and what is the version of your CLI?

[2022-01-20 16:41] huang195 commented on #1148
Here's my Iter8 CLI version:
[code]

Iter8 invoked by the Tekton is using this image: `iter8/iter8:latest`, and the Tekton task is here: https://github.com/huang195/iter8-gitops/blob/main/tekton/tasks/start-experiment.yaml

[2022-01-20 16:46] sriumcp opened #1149 "iter8/iter8:latest image needs fixing"
The `iter8/iter8:latest` image needs to be refer to the latest `tagged` version of Iter8 and not master.

If an image needs to be built out of the `master` branch, perhaps, it should be named `iter8/iter8:edge` or `iter8/iter8:master` or something like that.

[2022-01-20 16:52] sriumcp commented on #1148
That helps.

There is an issue with how Iter8's CI is set up and how the `iter8/iter8:latest` image is created, which is captured in [this new issue](https://github.com/iter8-tools/iter8/issues/1149).
***
Regardless, could you please try upgrading your Iter8 client on your local machine (https://iter8.tools/0.8/getting-started/install/) and see if the problem goes away? I would recommend:

[code]

[2022-01-20 20:04] huang195 commented on #1148
iter8 is already at the latest version on my laptop.

[2022-01-20 22:27] kalantar commented on #1146
I've updated the POC to use the latest version of iter8. In particular, the set of configurable properties is larger and `--set` is used instead of attempting to manipulate `values.yaml`.

Further, I moved the definition (`action.yaml`) into a subdirectory `load-test` to verify that it did not need to be at the root.

[2022-01-20 22:37] kalantar commented on #1146
GitHub seems to recognize that a project is defining an action. Similar to the way it prompts you to create a PR from a recent branch, it prompts "Publish this Action to Marketplace"

[2022-01-20 22:38] kalantar commented on #1146
https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace

suggests that the action.yaml should be in the root repository and only one defined. However, there are others with multiple and non root. We should try for this; I think there will be different actions for different experiment types.

[2022-01-20 22:39] kalantar commented on #1146
@sriumcp is there a way to specify `errorRanges` and `percentiles` via `--set`?

[2022-01-21 00:08] sriumcp commented on #1146
I believe there is, but I need to study `helm` a lot more to describe this correctly.

These are exactly the fields for which I wouldn't use `--set` and would use a yaml file instead and pass that using `-f`.

[2022-01-21 00:09] sriumcp commented on #1146
Also, I think there is no real need for an end-user to tinker with them (and in the rare occasion that they do, values.yaml is an acceptable solution).

[2022-01-21 14:53] kalantar commented on #1146
There is no real need to investigate further. If this we do not expect to use `--set` then we do not need a GH action input for it.  Instead we can introduce an input for the values file.  It should be there anyway.

[2022-01-21 17:22] kalantar commented on #1146
Any opinions?  Individual input variables or a comma separated list:

[code]

vs:

[code]

@sriumcp @huang195

[2022-01-21 17:34] kalantar commented on #1146
The same question might be raised about traffic shaping:

[code]

vs

[code]

[2022-01-21 17:41] sriumcp commented on #1146
I have a distinct preference for the former. Clear and distinct input variables.

Comma separated list with multiple types and completely different inputs doesn't make sense to me.

***

Of course, when you have to specify a list of things that are truly list (example, a list of percentiles, it does make sense to provide a list input, but not for the above scenarios IMO).

[2022-01-21 17:42] sriumcp commented on #1146
[code]

Of course, writing clear documentation like the above does make sense too.

[2022-01-25 03:46] ChowXu commented on #710
Hi, @sriumcp  is there any plan to go on this issue ?  I found no message related to this feature in iter8 v0.8 roadmap and this feature will be very helpful for us.

[2022-01-25 18:06] sriumcp commented on #710
Hello @ChowXu Yes absolutely. There is a roadmap item which calls out

This issue was intended to be subsumed under this category. Watch out for more announcements re: this feature as well  A/B testing in the near future.

[2022-01-28 21:17] huang195 opened #1153 "Task `if` seems to be broken"
Experiment.yaml from here: https://github.com/huang195/iter8-gitops/blob/main/experiment.tpl, results in the follow error message.

[code]

It seems `if` statement is broken.

[2022-01-28 21:20] huang195 opened #1154 "Iter8 CLI `iter8 gen k8s` hardcodes `0.8` version"
When using a specific CLI version, e.g., 0.8.29, to run `iter8 gen k8s`, it outputs a job using the `iter8/iter8:0.8` image. This defeats the purpose of having minor versions. Minor version should be added to the image tag.

[2022-01-28 21:26] huang195 opened #1155 "Using brew to install specific version of Iter8 CLI"
Is it possible to install a specific version of Iter8 CLI?

For other formulas installed using brew, there could be multiple versions, e.g.,

[code]

and then we can do `brew install postgresql@12`.

For iter8, this doesn't seem to be supported, i.e.,

[code]

[2022-01-28 21:28] sriumcp commented on #1154
I believe you mean `patch` version instead of `minor` version above (but point taken).

[2022-01-28 21:29] huang195 commented on #1154
That's correct!

[2022-01-28 22:10] sriumcp commented on #1154
Could you please try `iter8 gen k8s --set image="iter8/iter8:v0.8.29"` (you may need to escape the dot ... setting an image explicitly is already supported by k8s template).
***
We can close this issue once you confirm that image setting works for you.

[2022-01-28 22:13] sriumcp commented on #1154
The default behavior of `iter8 gen k8s` should be left as it is for the following reasons...

1. Patch updates could occur due to bug fixes or security updates.
2. Users should be able to get these fixes automatically without having to change anything.
3. By keeping the `v0.8` image as the latest stable version of the form `v0.8.X`, we achieve the above.

Of course, developers might need to work w

[2022-01-31 17:24] #1154 closed, assigned to nobody

[2022-02-01 01:16] #1153 closed, assigned to nobody

[2022-02-01 01:16] #1155 closed, assigned to nobody

[2022-02-02 14:17] sriumcp opened #1157 "Helm based Kubernetes experimentation"
Evolve Iter8's Kubernetes experimentation capability to achieve the following.

1. Successive experiment launches for the same app: suppose an experiment is launched for app 'hello' (e.g., load testing with notifications/triggers at the end)... suppose a next version of `hello` comes along, and another experiment is launched. We do not want these experiments to clobber each other.

The simple solu

[2022-02-02 14:17] sriumcp commented on #1157
@kalantar FYI.

[2022-02-03 22:03] sriumcp opened #1161 "Create load test tutorial for Knative gRPC service"
Similar to the HTTP tutorial.

[2022-02-04 18:51] sriumcp opened #1162 "`brew` test failure"
Iter8's Homebrew formula is located in the `.rb` files [in this repo](https://github.com/iter8-tools/homebrew-iter8).

While the formulae themselves seem ok, `brew` test is [failing in the automated GH actions](https://github.com/iter8-tools/homebrew-iter8/actions/workflows/brew.yaml) meant to update the `rb` files.

Strangely enough, the `brew` tests are working for me on my local laptop.

***

T

[2022-02-08 21:47] kalantar opened #1164 "`iter8 run` fails when using `--set duration=...`"
`iter8 run` fails when setting duration.

**Successful Execution**
[code]

**Failed execution**
[code]

[2022-02-08 21:55] sriumcp commented on #1164
I just ran the same thing above and here's what I get ...

[code]

[2022-02-08 21:55] sriumcp commented on #1164
I recommend replacing `https://example.com` with  `https://httpbin.org/get`. The latter seems like a better site for testing purposes. The former is very glitchy.

[2022-02-08 22:13] kalantar commented on #1164
I continue to see the same behavior.  I upgraded `iter8` and tried again, including a new `iter8 hub` command.

[code]

[2022-02-08 22:15] kalantar commented on #1164
It consistently works when not setting `duration`.

[2022-02-08 22:20] sriumcp commented on #1164
Ok yes. This looks like a bug. We will treat it as such.

[2022-02-08 22:22] sriumcp commented on #1164
My experiment.yaml looks like this... could you please share yours?

[code]

[2022-02-09 13:29] kalantar commented on #1164
My experiment is:
[code]

[2022-02-09 13:38] kalantar commented on #1164
This seems related to `numRequests`. This works:

[code]

In this case, experiment.yaml is:

[code]

[2022-02-09 13:39] kalantar commented on #1164
I imagine `duration` and `numRequests` are usually not used together?

[2022-02-09 13:47] sriumcp commented on #1164
Perhaps you might find [this documentation](https://iter8.tools/0.8/tutorials/load-test-http/loadcharacteristics/) relevant?

[2022-02-09 14:43] kalantar commented on #1164
Thank you. Documentation is what I expected. I made comment and tried the combination because I noted that your experiment.yaml seemed to contain both (indeed, all defaults).  The issue seems to be with duration specified by itself without a numRequests to override it.

[2022-02-09 14:53] sriumcp commented on #1164
I am trying with `load-test-http` (not `load-test`), and it is consistently working for me. Perhaps you can try with the former in case you've been using the latter chart?

***

I just realized, I'm using my local branch (used to create this PR #1163). I wonder if I changed anything for the better which is making it work as expected.

[2022-02-09 15:02] kalantar commented on #1164
I am doing the same. I do not think your `experiment.yaml` (above) is correct.  I do not think it should be filling in `numRequests: 100`. The user did not specify it. It is not specified in `values.yaml` (at least in master branch).

I can try the PR branch as well.

[2022-02-09 15:05] sriumcp commented on #1164
This is one of the things changing in the PR branch. Be that as it may, `experiment.yaml` with duration and without numRequests should work as promised.

[2022-02-09 15:09] kalantar commented on #1164
This is a problem, I think. In order to get duration without `numQueries`, users will have to explicitly remove it since the documented behavior is that `numQueries` takes precedence.

[2022-02-09 15:28] sriumcp commented on #1164
We can null everything in the values.yaml file.

[2022-02-10 18:25] atinsood opened #1167 "Iter8 examples showcasing load testing with slo validation using GH actions"
Contribute to the existing http example with github actions. the current example explains how to leverage iter8 along with GH actions to carry out load testing with slo validation

We are looking for contributions to provide examples showcasing:
    - grpc example with GH actions to carry out load testing with slo validation
    - ssl example with GH actions to carry out load testing with slo vali

[2022-02-14 18:48] kalantar opened #1168 "Stress testing and `iter8 report`"
`iter8 report` reports metrics on a per "iteration" basis. Stress testing adds a notion of "iteration" or "phase" to load generation and therefore to metrics collection and SLO evaluation.

When inspecting experiment results, it seems useful to correlate metrics to load. Graphs plotting metrics against time and load would give insights to users to understand the impact of load.

For histogram metr

[2022-02-14 18:51] kalantar opened #1169 "gRPC vs HTTP metrics collection"
When collecting metrics, `gen-load-and-collect-metrics-http` collects metrics from a single call. Data from any previous calls is lost. On the other hand, `gen-load-and-collect-metrics-grpc` collects metrics from all previous calls.

We should either standardize or make this a user settable behavior.

[2022-02-21 15:34] sriumcp opened #1172 "Enable reuse of a downloaded chart"
Support a `--sourceDir` option in `iter8 launch` so that you can relaunch experiments from the same local chart source.

[2022-02-21 15:50] sriumcp opened #1173 "Remove date from auto generated docs"
`iter8 docs` subcommand auto generates markdown documentation. But 80% of the changes it makes are just dates to commands, which regenerates the docs and needlessly complicates reviews.
***
Change the template it uses so that date goes away.

[2022-02-21 16:10] sriumcp opened #1174 "Match up Iter8 CLI version with chart version in launch command"
Suppose I have iter8 v0.9.

When I do an `iter8 launch -c load-test-http`, I want to use the latest version of `load-test-http` that is **compatible with Iter8 v0.9**.

Of course, I need to be able to explicitly specify constraints on experiment chart version (which Helm chart downloader commands already enable us to do).

[2022-02-21 16:46] sriumcp opened #1175 "Replicated code in Iter8 tests"
In Iter8 repo tests ...

[code]

The above snippet appears in several unit tests. Enable re-use for all but the defers.

[2022-02-22 19:14] sriumcp opened #1177 "Introduce SLIs in version assessment"
Certain metrics needs to be computed by default with or without being used in SLOs.

For example, during a gRPC load test, we want to see mean and tail latencies.

Enable the above through an SLI section in version assessment.

[2022-02-22 19:23] sriumcp commented on #1174
Here's a way to accomplish the above...
***
1. Bump up all  chart versions in `hub` to `0.9.0`.
2. Set a default chartVersionConstraint [here](https://github.com/iter8-tools/iter8/blob/df3bd3a86d613a97c373534c1d3479eb5410ebd9/cmd/hub.go#L77). If user supplies a version constraint, we should simply use that. If not, set it to be `string(base.MajorMinor) + ".x"` (for example, 0.9.x). This will ensur

[2022-02-22 21:58] kalantar commented on #1174
Which test? I don't see any tests of chartVersionConstraint except for unit tests in iter8.

[2022-02-22 22:01] sriumcp commented on #1174
Good point. I agree.. we don't need docs test update at all for this feature... removing my comment.

[2022-02-23 14:04] sriumcp commented on #1174
@kalantar Turns out tests in `docs` do need to be updated. They install `v0.9.0` of Iter8, and we want to use `v0.9.1` in them. Sorry about the back and forth on this... the repo structure/dependencies is something I'm yet to get used to :-)

Perhaps the PR that updates the `docs` test can also fix this issue, so that this issue is closed when that docs PR is merged?

[2022-02-24 15:56] kalantar commented on #1174
@sriumcp Is it possible to use `v0.9` instead?  Then there is less need to change this for every patch version.

[2022-02-24 16:01] sriumcp commented on #1174
`0.9` is supported using Brew. But not using other methods (note that v0.9 or 0.9 is not a valid semantic version tag which is why go install doesn't support it).

***

Could we reassess the question of patch vs. minor version after we migrate to GitHub Actions based tests?

[2022-02-24 16:09] kalantar commented on #1174
Yes. This will be an advantage of the action for our own testing.

[2022-02-24 16:14] kalantar commented on #1174
@sriumcp can you check permissions for the project. I do not seem to be able to assign a reviewer. It is ready for review.

[2022-03-04 20:24] kalantar opened #1185 "Include patch in results of `iter8 version`"
Currently, `iter8 version` reports only the major/minor. It does not include the patch version. It should.

This is true for iter8 installed by brew and for images

[code]

and for Docker image:

[code]

[2022-03-04 20:31] kalantar opened #1186 "Support connectTimeout in load-test-grpc"
The gRPC testing framework Iter8 is using (ghz) supports a `connect-timeout` option. It is documented as:

[code]

The load-test-grpc experiment type should support this option. Would need to update the chart (`templates/_experiment.tpl` and `values.yaml`). Also need to support in` collect_grpc.go`.

This would be used, for example, to delay start of collection of data for a period of time. It is

[2022-03-04 20:35] kalantar opened #1187 "Iter8 Javascript GitHub Action"
Currently, the iter8 action (see iter8-tools/iter8-action) is implemented a "Docker container" action. This is the simplest way to write the action and is straightforward. However, the action runs in a new docker container and the set of supported action runners is limited. Further, it introduces some challenges with networking. Writing the action as a "javascript" action allows it to run in the r

[2022-03-04 21:00] sriumcp commented on #1186
I checked the default `values.yaml` documentation [here](https://github.com/iter8-tools/hub/blob/main/charts/load-test-grpc/values.yaml#L62-L64).

Looks like this is already supported and even documented (as the `connectTimeout` -- camel cased parameter).

***

The GitHub Action probably needs to include (among other links), a link to the default values that are supported as well.

[2022-03-10 17:03] kalantar commented on #1144
@sriumcp this has been done, hasn't it?

[2022-03-10 17:08] sriumcp commented on #1144
Done.

[2022-03-10 17:08] #1144 closed, assigned to nobody

[2022-03-17 18:07] kalantar opened #1190 "Migrate `readiness` task from v0.7"
Example of proposed use:

[code]

Implementation can be a port of what was used in v0.7.

For in cluster execution, user will need to have authorization to  get the objects. It may be necessary to create Role/RoleBinding. Is there a way to assist users to determine what these should be?

[2022-03-17 18:11] sriumcp commented on #1190
`k8s-objects-ready` is nice!
***
I suggest we have only a single object (instead of a list of objects) for the task to check. I also suggest removing the objects key, and simply inlining `kind`, `name`, `namespace`, and `waitFor` at the same level as delay and retries. This would make the experiment chart templates much easier to implement.

We can have multiple readiness checks in the experiment,

[2022-03-17 18:24] kalantar commented on #1190
How might we use this task with existing charts. For example, I imagine that I would want to combine one or more `k8s-objects-ready` tasks with the existing tasks in our current `load-test-http` chart to create a better load test. If I have a single task with a list of objects, I can imagine updating the `load-test-http` chart to optionally include it (depending on `experiment-config.yaml`. With m

[2022-03-17 18:25] kalantar commented on #1190
This is a nice simplification

[2022-03-17 18:45] sriumcp commented on #1190
Some usage examples I am thinking about ... (also documented in a separate k8s docs PR).
***
[code]

The above would translate into the following experiment.yaml
[code]

***
[code]
***
[code]

[2022-03-17 18:47] sriumcp commented on #1190
For end-users, map values are easier to deal with than array values. Helm recommends that chart authors keep this in mind as they structure their charts.

In this case, `ready` would be a map object, and each key under it (svc, deploy, ksvc, and isvc in the examples above) would result in its own `k8s-objects-ready` task spec.

***

_Sample illustration for load-test-http or grpc (obviously not ex

[2022-03-17 19:04] kalantar commented on #1190
It seems like a library of default conditions to waitfor would also be necessary in charts. they depend the kind.

[2022-03-17 19:50] kalantar commented on #1190
I wonder if this should be hidden in a chart or require user action. But with assistance to be aware of needed permissions.

[2022-03-17 19:54] sriumcp commented on #1190
We will probably want to enable the required RBACs by default (i.e., hide them in the chart), but enable values to turn off installation of RBACs (example in the code engine environment, RBACs are not required; default permissions for the service account is enough to do everything we want to as part of the experimenting in the CE cluster).

[2022-03-18 13:06] sriumcp opened #1192 "Enable deletion of Kubernetes experiments"
**Is your feature request related to a problem? Please describe.**
`iter8 k` subcommands provide a way to launch and observe  Kubernetes experiments, but no way to delete them.

**Describe the solution you'd like**
`iter8 k delete` subcommand, with an optional group flag `iter8 k delete -g default` or `iter8 k delete --group hello`.

**Describe alternatives you've considered**
Delete only a specif

[2022-03-22 19:34] kalantar opened #1193 "Unable to pull chart when using docker image"
**Describe the bug**
This (v0.9.2) works:

[code]

This (v0.9.3) does not:

[code]

It fails with this error:

[code]

**Expected behavior**
Both should work.

**Consequences**
Iter8 GitHub actions are failing. They are defined to use the image `iter8/iter8:0.9` which is the latest released version.

[2022-03-22 20:14] kalantar commented on #1190
I'm wondering if we really need `retries` and `retryInterval`.  Perhaps not even `delay`. Perhaps a better approach would be a single parameter,`timeout`, and leave the details to the implementation?  Thoughts?

[2022-03-22 21:55] sriumcp commented on #1190
`timeout` sounds fantastic instead of `retries` and `retryInterval`.
***
In terms of implementation details, I recently stumbled across [this pattern](https://pkg.go.dev/k8s.io/client-go/util/retry), which I am hoping to use more in the code. In particular, `retry.DefaultRetry` along with `retry.OnError` should be very handy for fetching secrets, jobs, etc.. Should also work for readiness.

[2022-03-23 14:54] kalantar commented on #1190
In moving this away from an implementation that uses `os/exec` it becomes necessary to consider authentication with Kubernetes. In some cases, we might have this implicitly (`iter8 k` commands). In others we do not. It appears that kubernetes specific tasks such as`k8s-objects-ready` need additional parameters identifying context.

[2022-03-23 15:55] sriumcp commented on #1190
The  `os/exec` model also had a readiness task wrapper around it, which **did not** require these auth parameters. Auth was not an input to the previous readiness task (which means, whatever auth the os/exec utilized, was implicit, and not explicit). This is especially true in-cluster. I believe we can start with a similar uncomplicated approach in the library model as well.
***
The kubeclient whi

[2022-03-23 16:01] sriumcp commented on #1190
One big advantage in staging explicit auth for later (if at all it becomes required later) is that we reduce the complexity of unit testing the readiness task. In other words, with implicit auth, we  can develop it faster, and test it more thoroughly, and approach the community a bit more quickly with `iter8 k launch` feature.
***
We can certainly revisit explicit auth if a specific use-case comes

[2022-03-23 23:37] #1193 closed, assigned to nobody

[2022-03-24 18:04] kalantar commented on #1190
I noticed that our original readiness implementation (v0.7) validates object names by checking length and that it satisfies a particular regular expression. This seems to check that it is a DNS RFC 1123 label. Most objects do restrict names like this. However, it appears that alternatives exist. See https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names. I have not been abl

[2022-03-24 19:37] sriumcp commented on #1190
I agree. The name check is an overkill.

[2022-03-24 19:39] sriumcp commented on #1185
The issue is fixed for binaries but persists in Docker.

[2022-03-25 14:11] kalantar commented on #1193
I verified that this works for the docker image. GitHub actions are working again.

[2022-03-26 13:44] sriumcp opened #1197 "Simplify hosting of experiment charts"
**Is your feature request related to a problem? Please describe.**
The use of Helm charts for experiments brings a great deal of simplification by allowing users to `iter8 launch experiment-chart` with values. But hosting the experiment charts in Helm repos brings a fair amount of development complexity (not to mention, encouraging various hacks like the need to turn off verification checks in ord

[2022-03-28 14:38] #1185 closed, assigned to sriumcp

[2022-03-28 14:38] #1192 closed, assigned to sriumcp

[2022-03-28 15:44] sriumcp opened #1199 "Retain only those install methods that provide proper version info"
**Is your feature request related to a problem? Please describe.**
Currently, iter8.tools documents four different ways to install Iter8 CLI. `brew` and `binaries` provide clear version information, but it is hard to do so with the source based install, and go install.

**Describe the solution you'd like**
Remove the latter two and retain only the former, so that every way of installing Iter8 come

[2022-03-28 15:47] sriumcp opened #1200 "Document Kubernetes experimentation in iter8.tools"
**Is your feature request related to a problem? Please describe.**
Document Kubernetes experiments in iter8.tools

**Describe the solution you'd like**
Document the Kubernetes versions of both `load-test-http` and `load-test-grpc`. These will use a Kubernetes service and deployment to stand up the app. The experiments will also show case readiness checking.

[2022-03-28 20:22] sriumcp opened #1201 "Design the Istio mirroring + SLO validation experiment"
**Is your feature request related to a problem? Please describe.**
We have a task that supports reading metrics from DBs, and these metrics can be further used for SLO validation in assess task. We want to use these features to enable a traffic mirroring + SLO validation experiment.

**Describe the solution you'd like**
[code]

The above experiment should support minimally, the following values.
1

[2022-03-28 20:27] sriumcp opened #1202 "Create Iter8 experiment chart for Istio traffic mirroring"
**Is your feature request related to a problem? Please describe.**
We have a task that supports reading metrics from DBs, and these metrics can be further used for SLO validation in assess task. We want to use these features to enable a traffic mirroring + SLO validation experiment.

**Describe the solution you'd like**
Focus on a chart that enables local experimentation first.

[2022-03-28 20:30] sriumcp opened #1203 "Create iter8.tools documentation for Istio mirroring x"
**Is your feature request related to a problem? Please describe.**
Document Istio mirroring experiments.

[2022-03-29 13:58] sriumcp opened #1204 "End-to-end tests are failing"
**Describe the bug**
End to end tests for Iter8 are failing https://github.com/iter8-tools/docs/actions/runs/2053855340

**Expected behavior**
Tests should succeed.

**Additional context**
The tests are failing because fetching payload from URL function fails. The latter fails because the URL is signing the payload with a self-signed certificate which Iter8's http client is unable to verify. For n

[2022-03-29 14:00] sriumcp opened #1205 "Create an option to skip TLS verification while fetching payloads"
**Is your feature request related to a problem? Please describe.**
Please see #1204

**Describe the solution you'd like**
By default skip TLS verification while fetching payloads in load tests. It can be turned on using an option in the task (ultimately, the option value will be passed down from the experiment chart).

[2022-03-29 15:18] Alan-Cha commented on #1201
Here is a draft of what the options can look like

| name | required | description | type | default |
| ----- | --------- | ----------- | ---- | -------- |
| `baselineEndpoint` | no | baseline endpoint | string | na |
| `candidateEndpoint` | yes | candidate endpoint | string | na |
| `mirroringWeight` | no | percentage of traffic to be mirrored | integer, 0-100 | 100 |
| `prometheusUrl` | yes | Pr

[2022-03-29 18:16] kalantar commented on #1201
Are multiple loops necessary as a first step? If so, is a loop about the experiment as a whole? Or a subset of tasks? When we consider tasks like readiness and notification, I suspect that it should be a subset of tasks.

[2022-03-29 18:17] kalantar commented on #1201
Are both a baseline endpoint and a candidate endpoint required? Can we think of an experiment as testing the quality of the candidate endpoint. Does it necessarily need to be a comparison to the baseline?
Agree that we probably do want to do comparisons. But is it intrinsic?

[2022-03-29 18:23] kalantar commented on #1201
Why might we need `minutesBetweenLoops` `hoursBetweenLoops` and `daysBetweenLoops`? Can't we just use a timeBetweenLoops notion that can express all of these. For example, `3d4h8m4s`. This is pretty standard in go.

[2022-03-29 21:23] Alan-Cha commented on #1201
I was originally thinking of it as the number of times we query the database for metrics, the overall length of the experiment. I have not considered looping with other tasks. What is your opinion?

Yes, I can see us just testing a candidate endpoint. In that case, I will make baseline not required.

The logic behind these options is to allow a user to quickly create an experiment while covering t

[2022-03-29 21:39] sriumcp commented on #1201
The user may want to mirror traffic over a period of a day, simply because they aren't receiving enough traffic, and it takes a day too collect enough. It is of course nice to be able to update  the metrics and SLO validation status periodically within the experiment time period, so that up to date information is available through `iter8 k report`.

Perhaps `baseline` and `candidate` are misnomers

[2022-03-30 14:25] sriumcp commented on #1201
Some mirroring VS examples:

* https://istio.io/latest/docs/tasks/traffic-management/mirroring/

[code]

* https://istiobyexample.dev/traffic-mirroring/
[code]

* https://tech.trivago.com/post/2020-06-10-crossclustertrafficmirroringwithistio/
[code]

* https://medium.com/nerd-for-tech/mirroring-of-live-traffic-in-kubernetes-using-istio-traffic-mirroring-36f8c4d32fe8
[code]

* https://betterprogram

[2022-03-30 14:38] kalantar commented on #1201
Reading the above comments suggests that the notion of loop is very specific. The intent here seems to be to loop a single task. Furthermore, the reason for the looping does not seem to be intrinsic to the solution. Rather, it is driven by a desire to be able to provide "recent" feedback to the user. Since we don't know what recent means, we are suggesting a

In this context, I suggest we don't wa

[2022-03-30 14:43] kalantar commented on #1201
I agree to a change in nomenclature. Though I might even prefer something like `source` and `mirror`.

[2022-03-30 20:10] sriumcp commented on #1201
Loop through two tasks -- collect metrics, and validate SLOs.

The desire is to accomplish what the CRD model of looping accomplished for us in Iter8 v0.7, without actually the need to write extra looping code -- we can simply piggyback on the existing Kubernetes cronjob mechanism, which does this heavy lifting already. Previously, the CRD + controller model used to update experiment status. Now t

[2022-04-06 03:04] sriumcp commented on #1205
URL based payloads are no longer present in v0.10.

[2022-04-06 03:04] #1205 closed, assigned to nobody

[2022-04-06 03:04] sriumcp commented on #1204
Fixed in v0.10

[2022-04-06 03:04] #1204 closed, assigned to sriumcp

[2022-04-06 13:24] kalantar opened #1213 "Determine what to do about copyright statements"
In a minority of the files we have copyright statements. In most we do not. What is the standard approach we should use? Is there an open-source standard approach? A CNCF approach?

[2022-04-06 13:26] kalantar opened #1214 "assert and report commands require KubeDriver for initialization"
The methods to create new `assert` and `report` commands require a `KubeDriver` as an input (even if `nil`).  These commands, on there own have no dependency on Kubernetes and should not have such a requirement even if their extensions, `k assert` and `k report` do.

[2022-04-06 17:11] sriumcp opened #1215 "Document v0.10 based commands and experimentation"
**Is your feature request related to a problem? Please describe.**
There are breaking changes to Iter8 based on v0.10 (for example, there is no Helm repo any longer). Ensure that v0.10 documentation is created in Iter8.tools and it is up to date.

***

The following summary list need to be expanded into suitable issues. They seem to be required in order for this issue to be closed.

1. Make v0.10

[2022-04-06 17:30] sriumcp opened #1216 "Publish the blog article on based Kubernetes experimentation"

[2022-04-06 17:44] sriumcp commented on #1201
It would be nice to see the output of the following commands ....

[code]

***

Producing the above output involves creating a cron-job template in `iter8lib` chart, using that to create `istio-mirroring` chart, making sure that are no syntax/other errors so that template command works.

[2022-04-12 15:13] kalantar commented on #1190
Given the [readiness task](https://github.com/iter8-tools/iter8/pull/1195), we need a way for users to specify which resources should be checked for readiness when an experiment is launched. For each resource, the chart will need to add a readiness task to the experiment.

The user should be able to simply specify multiple resources to check for readiness. Two ways this might be done are:

1. Iden

[2022-04-12 16:20] sriumcp commented on #1190
This looks nice and simple.

***

There is also a third option which combines the simplicity of both 1 and 2 above:

3. Identify a single resource for each kind: `--set ready.<kind>=a name`.

All of our current use-cases require only 3. Perhaps we can start there and graduate to 2, when the need arises?

[2022-04-12 17:20] Alan-Cha commented on #1201
I have drafted up some templates for the mirroring experiments [here](https://github.com/Alan-Cha/iter8/tree/mirroring-temp) but I have some design questions.

You can try them out by using:

[code]

which should produce the following:

[code]

There are some design questions that need to be answered. For example, I have created a number of istio-specific templates such as `_k-spec-secret-istio.tp

[2022-04-12 18:44] sriumcp opened #1219 "Percentiles not working properly in http load test"
**Describe the bug**
Setting non-default SLO percentiles, like `97.5` used to work, but not anymore.

**To Reproduce**
Try the Iter8 load test tutorial (v0.10) this way...

[code]

Followed by `iter8 report`

**Expected behavior**
User should be able to set any percentile value in SLOs without errors.

[2022-04-12 19:18] kalantar commented on #1190
We should probably note that this approach cannot guarantee an order in which resources are checked for availability.

[2022-04-12 20:10] sriumcp commented on #1201
1. User already followed Istio's mirroring tutorial to set up mirroring
2. User already followed Istio's Prometheus tutorial to add the prom-add on
3. Iter8 experiment focuses on SLO validation used Prom metrics ...

As far as the Istio is concerned ... there is a `source` and `mirror` version of the app ...

As far as Iter8 experiment is concerned, there is only `app`, which corresponds to the mi

[2022-04-13 15:51] #1219 closed, assigned to sriumcp

[2022-04-13 17:36] sriumcp opened #1221 "Demonstrate DB-metrics-based-SLOs local experiment along with Istio mirroring"

[2022-04-13 17:41] sriumcp commented on #1190
Task is done. Chart will be handled as part of a separate issue.

[2022-04-13 17:41] #1190 closed, assigned to kalantar

[2022-04-13 19:13] kalantar opened #1222 "Chart template for readiness task"
Create template(s) to support readiness task added to load tests.

Some discussion in issue https://github.com/iter8-tools/iter8/issues/1190.

Summary is:

- enable user to identify a single resource for each kind: `--set ready.<kind>=a name`
- add a task to experiment for each resource
- user can set timeout with `--set ready.timeout=timeout`; applies to all resources
- user can set namespace wit

[2022-04-14 15:19] sriumcp commented on #1175
Not relevant anymore.

[2022-04-14 15:19] #1175 closed, assigned to nobody

[2022-04-14 15:19] kalantar commented on #1146
This was completed and is available here: https://github.com/marketplace?type=actions&query=iter8+

[2022-04-14 15:19] #1146 closed, assigned to kalantar

[2022-04-14 15:20] sriumcp commented on #1161
Done.

[2022-04-14 15:20] #1161 closed, assigned to sriumcp

[2022-04-14 17:32] kalantar opened #1223 "Introduce GitHub action to install Iter8"
The existing Iter8 action uses a docker implementation and calls `iter8 run`, `iter8 assert` and `iter8 report`
Changes to Iter8 mean that the action becomes invalid. To make it more resilient and to simplify the documentation, rewrite the action to just install Iter8. The user can implement the additional steps with a few lines.

[2022-04-14 18:11] #1199 closed, assigned to sriumcp

[2022-04-14 18:11] #1172 closed, assigned to nobody

[2022-04-14 18:11] #1197 closed, assigned to sriumcp

[2022-04-14 18:11] #1215 closed, assigned to sriumcp

[2022-04-21 14:08] sriumcp opened #1227 "Fix race conditions in Kubernetes experimentation"
**Describe the bug**
When doing an `iter8 k launch`, the `pod` apparently starts running and attempts to create a result secret, before the `role` and role binding` for the result secret can be created in the cluster.

**To Reproduce**
Please see [this failing test](https://github.com/iter8-tools/iter8/runs/6112959079?check_suite_focus=true).

**Expected behavior**
The test should succeed.

[2022-04-22 15:26] #1227 closed, assigned to sriumcp

[2022-04-25 20:38] sriumcp opened #1231 "Edit button on iter8.tools not working"
**Describe the bug**
Click on any markdown page on iter8.tools (the pen shared edit button). Leads to 404.

**Expected behavior**
Should work.

[2022-04-27 14:06] kalantar opened #1240 "Broken Link to community meetings"
**Describe the bug**
On the page [_Contributing_ ](https://iter8.tools/0.10/contributing/), we have a link to our community meetings (in section _Ask for help_). This link is broken.

**Expected behavior**
It works or reference removed.

[2022-04-27 15:23] sriumcp opened #1241 "`load-test-http` --set percentiles is not working"
**Describe the bug**
Setting additional (non-default) percentiles in `load-test-http` is failing.

Appears to fail.
**To Reproduce**
[code]

[2022-04-27 16:36] sriumcp commented on #1216
To be maintained elsewhere.

[2022-04-27 16:36] #1216 closed, assigned to kalantar, sriumcp, Alan-Cha

[2022-04-27 16:52] #1241 closed, assigned to sriumcp

[2022-04-27 18:07] starpit opened #1243 "minor: duplicate "unknown command" output"
**Describe the bug**

When using a bogus command, `iter8` prints the error message twice.

[code]

**To Reproduce**
see above

**Expected behavior**
no duplicate messages

**Screenshots**
n/a

**Desktop (please complete the following information):**
 - OS: MacOS
 - Output of the `iter8 version` command

**Additional context**
n/a

[2022-04-27 18:11] #1231 closed, assigned to sriumcp

[2022-04-27 18:11] #1240 closed, assigned to nobody

[2022-04-27 18:46] starpit opened #1244 "iter8 launch emits log output to stderr"
**Describe the bug**
I think this is a convention bug: stderr should mostly be for errors. Atypically, it can be used for "alt mode" output, if stdout has useful information on its own.

As far as I can tell, `iter8 launch` has no stdout output, and emits the nice and useful log messages to stderr. This makes it difficult to consume the output in upstream tools/scripts, as normally one would expec

[2022-04-28 13:23] kalantar commented on #1222
The readiness task needs to be documented. Using this issue to solicit input on how, where we want to do this in the documentation. The basic kubernetes usage tutorials for [http](https://iter8.tools/0.10/tutorials/load-test-http/kubernetesusage/) and [grpc](https://iter8.tools/0.10/tutorials/load-test-grpc/kubernetesusage/) can be modified to use the readiness task.

Should we include a page in t

[2022-04-28 13:25] sriumcp commented on #1222
All of the above sounds great! Like with all other docs, we can also iterate of course on these docs.

[2022-05-02 15:12] sriumcp commented on #1244
This is an interesting and useful point.

Outputs from `iter8 launch` are handled by Iter8 logging (which in turn uses `logrus` under the covers). We should check if logrus provides a way to separate `stdout` and `stderr` outputs depending upon the log level.

[2022-05-02 15:13] sriumcp opened #1247 "Default readiness timeouts"
**Is your feature request related to a problem? Please describe.**
Setting a default readiness timeout that is long enough (but still reasonable; example `3m`) would be useful. This will eliminate the need to specify timeout values (at least in tutorials, if not in prod).

[2022-05-02 15:16] sriumcp opened #1248 "`iter8 k report` right after `iter8 k launch` fails"
**Describe the bug**
`iter8 k report` right after running the `iter8 k launch` command fails with Nil pointer exception.

**To Reproduce**
In [this tutorial](https://iter8.tools/0.10/tutorials/load-test-http/kubernetesusage/), try the `iter8 k report` command right after launch.

**Expected behavior**
Report command should not fail. It should produce a partial report instead.

[code]

[2022-05-05 15:40] sriumcp commented on #1157
Done.

[2022-05-05 15:40] #1157 closed, assigned to sriumcp

[2022-05-05 15:42] sriumcp opened #1252 "Automatically launch experiments inside Kubernetes"
**Is your feature request related to a problem? Please describe.**
AutoX is the much discussed Iter8 feature which launches experiments (more accurately, Helm charts) automatically in Kubernetes when new versions of Kubernetes resources are created. Design this feature.

Note: Both FluxCD and ArgoCD support controllers that install and uninstall Helm charts. But their triggers are not Kubernetes o

[2022-05-05 15:44] sriumcp commented on #1222
Done.

[2022-05-05 15:44] #1222 closed, assigned to kalantar

[2022-05-05 15:44] sriumcp commented on #1200
Done.

[2022-05-05 15:44] #1200 closed, assigned to kalantar, sriumcp

[2022-05-05 18:12] kalantar opened #1253 "Document install and assumptions for Iter8 A/B/n service"
A key challenge in A/B/n testing is associating metric values (computed in a front end service) to the version of the backend service that is responsible for the value. To solve this problem, Iter8 introduces an client SDK. This SDK provides, among other things, a version aware load balancing service that allows the client to be aware which version of a backend service requests are sent to.

To su

[2022-05-06 18:43] sriumcp opened #1256 "Upgrade Drivers to be able to read metric files"
**Is your feature request related to a problem? Please describe.**
In order to enable DB metrics-based experiments (like mirroring), driver needs to support reading not just experiment specs, but also metric specs. This feature needs to be created.

**Describe the solution you'd like**
[code]

Implement the delta required in both FileDriver and KubeDriver.

[2022-05-09 19:45] kalantar commented on #1253
To identify new versions, _iter8abn_ watches for new resource instances that match some selection criteria: objects of a particular type with the label `app.kubernetes.io/name` matching an expected name. Version will be determined by the value of the label ` app.kubernetes.io/version`.  See Kubernetes [documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/)

[2022-05-10 12:38] sriumcp commented on #1253
It would be helpful to see examples with concrete resource types.

If user 1 serves the ML model using Kubernetes deployments/services, and user 2 does so with Knative services, how will the the installation/labels differ between them? What is same... and what is different?

[2022-05-10 13:18] kalantar commented on #1253
Example of user serving ml model with deployments/services:
[code]

Example using knative services:
[code]

[2022-05-10 20:25] kalantar commented on #1253
The service must be able to watch resources and  identify versions. However, there is no need for this to be configured as part of the installation of the service. Doing so forces a reinstall for each new application being deployed. Furthermore, it requires knowledge of names in advance.  The primary need at install time is to identify the set of resource types that should be watched and in which

[2022-05-13 14:31] kalantar opened #1257 "Document client side use of Iter8 SDK"
Use gPRC to provide support for common front end service implementation languages with no language specific code.

[2022-05-13 14:33] kalantar commented on #1257
### Steps

These steps are not necessarily called one after another.

1. Connect to ABN service

    Before using the ABN service, it is necessary to connect to the service. This is language specific and may be non-trivial. As an example, see this [go example](https://github.com/grpc/grpc-go/blob/master/examples/route_guide/client/client.go#L156-L176).

2. Lookup backend

    For each interaction

[2022-05-13 14:53] sriumcp commented on #1244
The underlying issue is that `iter8` uses `iter8Logger` struct for two different purposes: 1) for logging diagnostic messages (which should really go to `stderr`), and 2) for printing experiment outcomes/status/application-related output which should go to `stdout`.

1. Logger struct is [here](https://github.com/iter8-tools/iter8/blob/f6fd255965e974f3312b1e45a17f8ed9b0a24813/base/log/log.go#L16)
2

[2022-05-13 14:58] sriumcp commented on #1244
Potential solution. Similar to `iter8Logger`, create `iter8Printer`.

We want:
[code]

[2022-05-13 15:26] sriumcp commented on #1244
On second thought, @kalantar @Alan-Cha ...

The above logic is going to print messages twice on your console! Which takes us back to [this bug](#1243).

So, I don't think we want the above solution :)

***

How about we simply start using `fmt.Println(msg)` in various parts of the code, and then reassess if we need anything fancy at a later stage.

[2022-05-13 15:30] sriumcp commented on #1244
You can always redirect both `stdout` and `stderr` to the same file as follows ... assuming you want to look at them together.

[code]

[2022-05-16 15:46] #1243 closed, assigned to kalantar

[2022-05-16 15:49] sriumcp commented on #1244
We will use `fmt.Println(msg)` for printing status, and `log` for logging diagnostic messages.

[2022-05-16 15:49] #1244 closed, assigned to Alan-Cha

[2022-05-17 13:25] sriumcp commented on #1257
The [Golang gRPC hello world client example](https://github.com/grpc/grpc-go/blob/master/examples/helloworld/greeter_client/main.go) does not seem to bother with credentials. Given that:
1. The `gRPC` authors themselves chose the easier (no-credentails/insecure) option as their first example, and
2. Given that the service is intended to be cluster-local (not exposed to the external world, at least

[2022-05-17 13:33] sriumcp commented on #1257
A python client example for the Iter8 SDK is [here](https://github.com/sriumcp/iter8/blob/abn/samples/abn/deploy/frontend/frontend.py).

I wanted to draw attention to the simplicity of this py example. IMO, the golang client example should not be any more complex than the py client. The idea is to create the simplest version of the client the demonstrates the core feature of the SDK, which I tried

[2022-05-17 13:42] sriumcp commented on #1257
[code]

1. Is the following line correct?  Is TransactionVersion an object or a number? Also, could we please rename `TransactionVersion` to `VersionInfo` or simply `Version`?
[code]

2. What happened if the backend is a gRPC service? You will need more info to connect to it ... right?

[2022-05-17 13:52] sriumcp commented on #1257
Re:

[code]

I think we should eliminate properties. If there is a need for them, we can revisit later. For starters, their utility is not clear, and second, how is the user supposed to get them? Seems like needless complexity for questionable value.

[2022-05-17 13:55] sriumcp commented on #1257
This is a bit hard to understand... perhaps
1. Starting with the assumption that one version = one kubernetes object (example, a simple K8s deployment object),
2. K8s resource (example deployment) with the relevant annotations

might help?

***

Also, AFAIK, annotations are `map<string,string>`, which means the entire headers struct cannot be a single annotation; each header might need to be an an

[2022-05-19 01:55] #1248 closed, assigned to sriumcp

[2022-05-19 13:13] kalantar commented on #1257
Some responses to the above
---
Regarding complexity of client connection to the service. My example reference was not meant to be an example of what we want. Rather just pointing out that the code might be complex. It depends on the assumptions about how the service is deployed which we haven't really thought about. I want to keep it simple but I wonder if the frontend might not be in the cluster

[2022-05-19 13:14] kalantar commented on #1257
# A/B/n Testing

A key challenge in A/B/n testing is associating the values of business metrics (computed in a frontend service) with the version of a backend service responsible for the value. To address this challenge, Iter8 introduces an client SDK. This SDK provides, among other things, a (backend) version lookup service that exposes backend versions to the client.

In addition to providing a

[2022-05-19 15:38] Alan-Cha commented on #1256
Closed with #1260

[2022-05-19 15:38] #1256 closed, assigned to Alan-Cha

[2022-05-19 15:39] #1221 closed, assigned to Alan-Cha

[2022-05-19 15:39] Alan-Cha commented on #1221
We showed this off at an Iter8 community meeting.

[2022-05-19 17:16] kalantar opened #1262 "Document ABn Service"
This replaces https://github.com/iter8-tools/iter8/issues/1253 and https://github.com/iter8-tools/iter8/issues/1257 which documented the service install command and the client use of the service.

[2022-05-19 17:16] kalantar commented on #1262
# A/B/n Testing

A common system architecture is one in which users interact with a frontend service. This service, in the course of handling user requests, uses one or more backend services. We consider the challenge of running A/B/n tests against one of these backend services.

In such architectures, the (business) metrics of interest are typically computed by the frontend service. Such metrics

[2022-05-19 17:28] kalantar commented on #1257
Replaced by https://github.com/iter8-tools/iter8/issues/1262

[2022-05-19 17:28] #1257 closed, assigned to kalantar

[2022-05-19 17:28] kalantar commented on #1253
Replaced by https://github.com/iter8-tools/iter8/issues/1262

[2022-05-19 17:28] #1253 closed, assigned to kalantar

[2022-05-19 18:37] kalantar commented on #1262
Possible helm chart:

[code]

[2022-05-23 15:25] #1202 closed, assigned to Alan-Cha

[2022-05-24 17:57] kalantar opened #1263 "Helm chart for ABn service"
Create a helm chart for the ABn service.  See also https://github.com/iter8-tools/iter8/issues/1262.

[2022-05-31 19:01] sriumcp commented on #1262
@kalantar Considering the simplifications we've been discussion in this context, I would go a step further as follows:

[code]

Note that the above does not use any info returned by the lookup but only the info used for the lookup itself. What this implies is that the frontend code does not need to keep track of the session information at all, and can simply use the session info for routing withou

[2022-06-01 02:03] sriumcp commented on #1262
I realize with the following comment, I'm now going back and forth on the concept of transactions. However, considering the above simplification, here's a natural next step.

[code]

[2022-06-01 02:14] sriumcp commented on #1262
Summarizing the above two comments:
1. User context is present already in the browser interactions/requests to frontend. This means, there is no state keeping involved for retrieving user context.
2. We want to map users to tracks, and associate a user's metrics with the user's track (and hence version) consistently during an A/B(/n) experiment. But we do not want to offload the complexity of this

[2022-06-02 01:20] cauwulixuan opened #1267 "Document support for launching experiment using Golang sdk?"
**Is your feature request related to a problem? Please describe.**
I have a senario here:

If I need launch experiments and report results in my app (written by golang or python ...), how can I make it work using a `iter8 SDK`(something like that) OR just setup `CRD` and `CR` instead of a binary `iter8 CLI` ?

Moreover, how can I use my custom metrics here? and how can I setup custom metrics?

Do

[2022-06-02 08:22] cauwulixuan opened #1268 "Kserve examples based on v0.10 support"
**Is your feature request related to a problem? Please describe.**
I followed up tutorial here [kserve](https://iter8.tools/0.10/tutorials/integrations/kserve/), but the document showed that the examples were based on v0.7. I wonder whether 0.10 can be adapted to kserve? If so, can you update the documentation? Thanks a lot.

**Describe the solution you'd like**
Kserve examples based on v0.10 woul

[2022-06-03 18:36] kalantar commented on #1262
@sriumcp I've updated the description above to reflect these suggestions.

[2022-06-06 13:13] kalantar commented on #1164
I retried this today with the latest version of iter8. I am no longer able to reproduce this.

[2022-06-06 13:13] #1164 closed, assigned to nobody

[2022-06-06 13:15] kalantar commented on #1174
@sriumcp I think this has been done. Are there additional steps we need to take?

[2022-06-06 14:39] sriumcp commented on #1174
Yes, this is done. Besides, v0.10 works differently anyway (compared to v0.9) ... also we might go back and forth on this as we develop autox. Anyway, closing.

[2022-06-06 14:39] #1174 closed, assigned to kalantar

[2022-06-06 15:25] Alan-Cha opened #1269 "Create cronjob template"
What should be the design of the cronjob template? Here is an example of what a cronjob could look like.

[code]

[2022-06-06 18:55] sriumcp commented on #1201
@Alan-Cha At some point (perhaps after the CNCF presentation), we may want to consider the following changes ...

1. Rename _task_rbac to _k_task_rbac
2. Move versionInfo to metrics (simplifies helm chart just a little bit…) — authors of custom metrics do not need to understand the db_task template + all the metrics info will be in one place.

[2022-06-08 19:34] Alan-Cha opened #1272 "Iter8 report should not have histogram section when there are no histograms"
![report html](https://user-images.githubusercontent.com/14318081/172701932-ba8b092f-923a-40b3-a9ac-292666332b02.png)

[2022-06-08 20:19] Alan-Cha opened #1273 "`iter8 k log` should work for cronjobs, not just jobs"

[2022-06-08 20:20] kalantar opened #1274 "Enable `iter8 k log` for CronJob based experiments"
**Is your feature request related to a problem? Please describe.**
We have intoduced use of CronJob as well as Job for experiments. `iter8 k log` needs to be enhanced.

[2022-06-08 20:28] Alan-Cha opened #1275 "Make sure log levels are respected in job and cronjob templates"

[2022-06-09 16:22] Alan-Cha commented on #1273
Duplicate of #1274

[2022-06-09 16:22] #1273 closed, assigned to nobody

[2022-06-09 16:23] Alan-Cha opened #1276 "Add numLoops to experiment result"
For cronjob experiments, it would be nice to keep track and log the current iteration of the experiment.

[2022-06-09 16:28] Alan-Cha opened #1277 "Add `reuseResult` flag to cmd"
There is currently a bug with cronjob experiments where it is not reusing the result for each iteration. This can be resolved by adding a new `reuseResult` flag to `iter8 run` and `iter8 k run`.

[2022-06-09 20:43] Alan-Cha opened #1279 "`iter8 k run` `group` flag should have default but does not work"
[code]

Ignore the `reuseResult` flag but note how the documentation says the default value is `default` but I get an error that says `group` is not set.

[2022-06-09 21:10] #1275 closed, assigned to nobody

[2022-06-09 21:10] #1276 closed, assigned to Alan-Cha

[2022-06-09 21:10] #1277 closed, assigned to Alan-Cha

[2022-06-13 16:16] sriumcp opened #1281 "Simplify experiment chart"
**Is your feature request related to a problem? Please describe.**
We have three experiment charts at the moment ... all of which are very thin wrappers around `iter8lib`. This feels like an overkill, especially, when it comes to documenting how to extend Iter8. For example, in order to extend the Istio SLO validation to Linkerd, a user should not have to write chart, but should be able to get awa

[2022-06-13 16:29] Alan-Cha opened #1282 "Add clean up steps to Iter8 tutorials"

[2022-06-13 16:34] sriumcp opened #1283 "Metrics template URL"
**Is your feature request related to a problem? Please describe.**
If a user needs to use SLO validation features with custom metrics, currently they have to touch iter8 experiment charts. This is non-trivial and complicated from the perspective of a developer.

**Describe the solution you'd like**
Change the `read-metrics-from-db` task to be able to read provider templates from URLs. This way, th

[2022-06-14 19:31] kalantar commented on #1262
A sample go application that uses this SDK: https://github.com/kalantar/ab-example/blob/main/go/frontend/main.go

[2022-06-16 14:57] sriumcp commented on #1269
Done.

[2022-06-16 14:57] #1269 closed, assigned to Alan-Cha

[2022-06-17 17:39] Alan-Cha opened #1285 "`iter8 assert -c nofailure` should be `noFailure`"
See [here](https://iter8.tools/0.10/user-guide/commands/iter8_assert/).

Options should be camelCase to match conventions.

[2022-06-21 17:21] sriumcp opened #1288 "`gh-action` test needs to happen post release"
`gh-action` depends on release assets, which are created after a release event. So, it makes sense to do `gh-action` tests after releases. If it is done before releases, the test passes for non-breaking changes, but fails (understandably) for breaking changes.

[2022-06-21 17:28] sriumcp opened #1289 "Standardize parameters for tasks and make task names short"
**Is your feature request related to a problem? Please describe.**
There is no way to tell which parameter is for which task, which complicates task templates; this also makes the `iter8 k launch` commands a bit harder to parse (explicitly stating the task name as part of the parameter setting makes both easier).

**Describe the solution you'd like**
Example below...

[code]

We sometime dump `.Va

[2022-06-21 17:36] sriumcp opened #1290 "Collapse experiment spec and experiment result into a single artifact"
**Is your feature request related to a problem? Please describe.**
Two artifacts, one for spec and one for result, means replication of code (for roles; secrets; role bindings; reading and writing).

**Describe the solution you'd like**
Collapse them into a single artifact. This does mean ... the artifact under question (`experiment.yaml`) could change during an experiment after it is initially sp

[2022-06-21 19:15] #1272 closed, assigned to sriumcp

[2022-06-21 19:15] #1279 closed, assigned to sriumcp

[2022-06-21 19:15] #1281 closed, assigned to sriumcp

[2022-06-21 19:15] #1283 closed, assigned to sriumcp

[2022-06-21 19:15] #1288 closed, assigned to sriumcp

[2022-06-21 19:15] #1289 closed, assigned to nobody

[2022-06-21 19:15] #1290 closed, assigned to sriumcp

[2022-06-21 19:43] sriumcp opened #1291 "Fix GitHub action documentation"
**Describe the bug**
`uses: iter8/iter8@v0.10` is incorrect. It needs to change to `uses:  iter8-tools/iter8@v0.10`. [Here](https://iter8.tools/0.10/tutorials/integrations/ghactions/).

[2022-06-21 19:55] #1291 closed, assigned to sriumcp

[2022-06-22 01:59] cauwulixuan opened #1293 "More general experiments support"
**Is your feature request related to a problem? Please describe.**
I want to set up experiment in specified namespace to assess services in another namespace.

**Describe the solution you'd like**
Specify app's namespace while launch experiment

[2022-06-23 20:19] sriumcp opened #1297 "Create v0.11 docs"
- [ ] Fixing landing page to remove "secure". Also add social (GitHub, slack, and twitter icons before conceived at)
- [ ] Describe use cases in landing page
- [ ] Update adopters
- [ ] Replace your first experiment with the simplest k8s HTTP load test experiment with SLOs
- [ ] Add twitter to Get Help section
- [ ] Update installation
- [ ] Reorganize tutorials as follows. Other pages (like kserv

[2022-06-27 15:29] cauwulixuan opened #1299 "Experiment rendered incorrect in custommetrics tasks"
**Describe the bug**
When launch an experiment with `custommetrics` task, `experiment.yaml` rendered in secret was not as expected.

**To Reproduce**
[code]

**Expected behavior**
The result in `step2` and `step4` should be the same.

[2022-06-27 16:28] sriumcp commented on #1299
I am unable to reproduce this bug. For example, when I follow all of the above steps, I get the following which is expected (I do not have a local service serving the template):

[code]

[code]

[2022-06-27 16:33] sriumcp commented on #1299
@cauwulixuan I notice you have `./iter8` command invocation. I wonder your local `charts` folder or your local `iter8` binary is contaminated in some way.

Could I request you to try the following?

[code]

Install Iter8 CLI afresh.
[code]

Of course, you can also use binaries... for example, for linux-amd64:
[code]

Try the command. Notice that you are using `iter8` (from a clean temp dir) instea

[2022-06-27 18:54] sriumcp opened #1300 "Prevent overwrite of the `charts` folder"
**Is your feature request related to a problem? Please describe.**
Iter8 commands like `launch`, and `k launch` have a need to have the following behavior for the `charts` folder.

If `charts` folder is already exists inside the `chartsParentDir`, then the `--noDownload` flag should become mandatory (i.e., it should be set to true or false).

This will help avoid subtle issues like #1299

[2022-06-28 00:21] cauwulixuan commented on #1299
Thanks @sriumcp. My bad, it seems that my local `chart` folder was contaminated. I cleaned it up  and downloaded from remote, then everything work fine. Thanks

[2022-06-28 00:52] #1299 closed, assigned to nobody

[2022-06-28 07:35] cauwulixuan opened #1301 "Multiple versions support for http task"
**Is your feature request related to a problem? Please describe.**
For now, if I want to assess multiple versions of our ML models, by using built-in metrics, we have to launch multiple experiment.
Can we just set up only ONE experiment with multiple http urls and payloads, so that we can assess multiple models much more easily.

**Describe the solution you'd like**
Just like
[code]

[2022-06-28 07:44] cauwulixuan commented on #1301
This should be a common use case, think about one scenario:
I have 2 versions of ML models, I can launch an experiment to run `http` task, moreover, if I want to use my own metrics, I can just set up `custommetrics` task in the same experiment, other than launch a new experiment. When it comes to the result, all metrics(built-in or custom metrics) can be filled in `experiment.Result`, and with all

[2022-06-28 14:24] Alan-Cha commented on #1203
Completed.

[2022-06-28 14:24] #1203 closed, assigned to Alan-Cha

[2022-06-28 17:02] kalantar commented on #1262
Rather than continue to rewrite the above each time, we move the design to [this document](https://docs.google.com/document/d/1uwT64rh-rvapkZyQ0msSfZ7XV5IiD2LRJwRI38nLSVc/edit?usp=sharing). Discussion should continue both here and with comments in the design document.

[2022-06-29 00:17] sriumcp opened #1302 "Change `custom metrics` task inputs to be more user friendly"
**Is your feature request related to a problem? Please describe.**
Specifying multiple templates for custom metrics looks as follows today:

[code]

If two of these templates have the same provider names, the task might fail or will need to resolve the naming conflict in some round about manner.

**Describe the solution you'd like**
Adopt the following task signature.

[code]

First of all, we ren

[2022-06-29 03:02] sriumcp opened #1303 "Created blog articles for v0.11"
- [x] Create Knative blog articles and update links (in Knative site docs and Iter8 site docs) accordingly.
- [ ] Create New Stack / Medium (well selected publication) for custom metrics.

[2022-06-29 13:53] #1300 closed, assigned to sriumcp

[2022-06-29 13:53] #1302 closed, assigned to sriumcp

[2022-07-12 13:49] Alan-Cha opened #1306 "Design for the `notify` task"
# Slack notify task and `launch`

Here are 3 options of what the `launch` command could look like with the `notify` task for Slack:

1. We use a Slack hook
[code]

2. We could break down the Slack hook into its components but it is not immediately clear how the user and channel are encoded.
[code]

3. In tasks, you specify the notification platform you would like to use. In this case, both `slack`

[2022-07-12 14:08] sriumcp commented on #1306
On a)

[code]

seems like the simplest option. Similarly for `github`.

[code]

Of course, you are limiting to a single slack sink and a single github sink this way, but this seems like a good start.

On b)

Perhaps we could start with the simplest possible approach, in terms of our ability to implement. The `repository_dispatch` approach seems to be that simple option, so perhaps we could start t

[2022-07-12 14:11] Alan-Cha commented on #1306
Here is also what we think the JSON report could look like:

[code]

Edit:
[code]

Any issues?

[2022-07-12 14:18] sriumcp commented on #1306
Lets discuss more re: the report structure. The JSON above looks good, but in terms of the dev strategy, there's probably opportunity here to simplify how `iter8 report` works today, and how this JSON serialization of the report needs to work in the future.

[2022-07-12 15:05] kalantar commented on #1306
It is my thought that we should implement `iter8 report -o json` to produce the JSON. It seems like we should avoid just exporting the whole experiment as a JSON. Perhaps there is an intermediary structure that can then be marshaled to json?

[2022-07-12 15:22] sriumcp commented on #1306
In terms of the task templates... perhaps, the following design might work?

[code]

[code]

[2022-07-12 15:39] sriumcp commented on #1306
I'm not sure how the CLI `-o json` extension is going to help with the notify task.

Note that the current formats, `-o text` and `-o html` for report are both visualization formats (not just data formats).

[2022-07-14 16:02] sriumcp opened #1309 "Design and implement Iter8 experiment features for A/B(/n) testing"
**Is your feature request related to a problem? Please describe.**
Iter8 experiments support SLO validation with custom metrics, and performance testing (with load generation). We want a similar capability for A/B(/n) testing.

**Describe the solution you'd like**
1. An Iter8 experiment task that will fetch A/B(/n) metrics
2. Extend the assess task to work with reward metrics (this should work for

[2022-08-12 12:59] #1223 closed, assigned to nobody

[2022-08-12 12:59] #1263 closed, assigned to kalantar

[2022-08-12 13:03] kalantar opened #1315 "Create development Dockerfile"
**Is your feature request related to a problem? Please describe.**
The current Dockerfile is designed for the CI process. It uses released builds.  To use a development image, it must be built from local artifacts.

**Describe the solution you'd like**
A Dockerfile developers can use to simplify the effort.

[2022-08-12 13:10] kalantar opened #1316 "Refactor KubeDriver"
**Is your feature request related to a problem? Please describe.**
Today we have two versions of `KubeDriver` defined. One is in base. in `driver/kubedriver.go`. The second is in `base/kubedriver.go`. The first implements the `Driver` interface and is used to read and write experiments. The second is a simpler driver used by tasks that require an ability to read/write a Kubernetes cluster. For exa

[2022-08-23 14:54] sriumcp commented on #1306
Resolved.

[2022-08-23 14:54] #1306 closed, assigned to nobody

[2022-08-23 15:04] sriumcp opened #1320 "Templates folder in hub"
**Is your feature request related to a problem? Please describe.**
Payload template URLs used in notification tasks are based off of Alan's (@Alan-Cha) personal gist URLs.

**Describe the solution you'd like**
Create a templates folder in the [hub repo](https://github.com/iter8-tools/hub/). Put the templates under this folder, and use their URLs.

[2022-08-24 12:29] #1315 closed, assigned to kalantar

[2022-08-25 16:06] sriumcp opened #1323 "Contributing guidelines"
Every commit needs to be cryptically signed with GPG keys. This needs to be made clear in the contributing.md docs (including the how).

GitHub seems to have holes in this part of the documentation.

[2022-08-29 01:47] elgamal2020 opened #1326 "Binary"
Hello,

I have tried the binary

./darwin-amd64/iter8 -h
-bash: ./darwin-amd64/iter8: cannot execute binary file: Exec format error

Then to make the package

 make build
GO111MODULE=on go build  -trimpath -tags '' -ldflags '-w -s -X github.com/iter8-tools/iter8/base.Version=v0.11.11 -X github.com/iter8-tools/iter8/cmd.gitCommit=6a697aff3889517ce4281ee7399d27998006ce72' -o '/home/ubuntu/iter8/iter

[2022-08-29 13:16] sriumcp commented on #1326
Hello. Yes, it can function on x86 architecture (and for that matter, on any architecture supported by golang cross compiler).

Just to be sure, `darwin-amd64` is meant for MacOS. Did you try the Darwin binary on the MacOS? On MacOS, you can also install Iter8 using `brew` (https://iter8.tools/0.11/getting-started/install/).

[2022-08-29 13:23] sriumcp commented on #1326
What is the OS and architecture on which you are running?
***
Based on your comment, I am guessing you are attempting to run Iter8 on `ubuntu`.

Assuming your arch is `x86-64`, the `linux-amd64` binary should work for you.
***
If you are interested in running iter8 on a 32-bit ubuntu, please let us know. We can easily release binaries for 32 bit linux as well, as part of our CI.

[2022-09-01 19:08] sriumcp opened #1329 "Review exported symbols"
Are symbols (funcs, fields, methods) exported because they are part of the public API surface, or because the exports are needed for testing in other packages?
***
It is preferable to not export any symbols for the latter purpose, and do only for the former purpose. Review the code, and eliminate unwanted exports.

References:

1. https://engineering.kablamo.com.au/posts/2019/export-test
2. https:

[2022-09-02 20:11] kalantar opened #1330 "Provide some built in abn metrics"
for example:
- users-per-track
- users-per-version

[2022-09-02 20:13] kalantar opened #1331 "Provide iter8 abn logs"
When errors occur in the abn service, it is hard for users to determine the cause. Provide a means to get some infromation by providing `iter8 abn logs`

[2022-09-08 15:17] sriumcp opened #1333 "Status update in ABn service"
**Is your feature request related to a problem? Please describe.**
For `addEvent`, `deleteEvent`, and `updateEvent` -- we would like to treat these as analogous to status updates in a CRD. In particular, the application structure should be read from the cluster instead of patched (this is the recommended solution in the Kubernetes controller handbook).

For this functionality, it makes sense to pi

[2022-09-14 20:16] sriumcp opened #1334 "Ensure uniqueness of chartGroup names in autox config"
**Is your feature request related to a problem? Please describe.**
The current way of specifying the chart group could lead to naming conflicts. Specifically, multiple groups could end up with the same name.

**Solution:**
[code]

[2022-09-14 20:21] sriumcp commented on #1334
Assume autox is watching for deployment objects in the test namespace.

Suppose the user does the following.

[code]

AutoX needs to create a couple of Helm releases, corresponding to the two charts in this chart group. The name of a release will be `autox-<chart-group-name>-<chart-name>`.

So, `autox-myApp-name1`, `autox-myApp-name2`, etc., are the releases we will get.

[2022-09-14 20:31] sriumcp commented on #1334
During an `addObject` event -- assuming the object has appropriate Iter8 labels, if there already exist corresponding releases, we upgrade them. If not we create them.

During an `updateObject` event; check if labels changed -- if not, nothing to do; else, treat it as a deletion event (deletion of the old object) followed by an addition event (addition of the new object).

During an `deleteObject`

[2022-09-14 20:36] sriumcp commented on #1334
Concurrency: none.

Ensure that all handler invocations run in sequence through a mutex.

Example...
[code]

Here `mu` is a sync.Mutex object.

[2022-09-15 20:41] sriumcp opened #1336 "Improving CONTRIBUTING.md"
`CONTRIBUTING.md` requires a couple of sections, one on local linting, and another another on how to create and use Docker images (for Iter8, autox, and abn).

[2022-09-29 12:46] kalantar commented on #1333
This was done in https://github.com/iter8-tools/iter8/pull/1313

[2022-09-29 12:46] #1333 closed, assigned to nobody

[2022-09-29 12:51] #668 closed, assigned to nobody

[2022-09-29 12:51] #710 closed, assigned to nobody

[2022-09-29 12:51] #1092 closed, assigned to nobody

[2022-09-29 12:51] #1095 closed, assigned to sriumcp

[2022-09-29 12:51] #1097 closed, assigned to nobody

[2022-09-29 12:51] #1102 closed, assigned to sriumcp

[2022-09-29 12:51] #1139 closed, assigned to sriumcp

[2022-09-29 12:51] #1140 closed, assigned to sriumcp

[2022-09-29 12:51] #1141 closed, assigned to sriumcp

[2022-09-29 12:51] #1149 closed, assigned to sriumcp

[2022-09-29 12:51] #1167 closed, assigned to nobody

[2022-09-29 12:51] #1168 closed, assigned to nobody

[2022-09-29 12:51] #1169 closed, assigned to nobody

[2022-09-29 12:51] #1173 closed, assigned to nobody

[2022-09-29 12:51] #1201 closed, assigned to Alan-Cha

[2022-09-29 12:55] #1297 closed, assigned to sriumcp

[2022-09-29 13:17] kalantar opened #1342 "Update charts only in `iter8 hub`"
**Is your feature request related to a problem? Please describe.**
Manually testing changes to the `iter8lib` chart (in https://github.com/iter8-tools/hub) is challenging because the launch command upgrades the chart dependencies (cf. https://github.com/iter8-tools/iter8/blob/master/action/launch.go#L120). This happens even when `--noDownload` is specified. Local changes to the dependent chart (`i

[2022-09-29 15:30] sriumcp opened #1343 "Enable if conditions in experiment"
**Is your feature request related to a problem? Please describe.**
We want to write experiments as follows ....

[code]

**Describe the solution you'd like**
Modify task templates to accept the `if` param in task inputs.

[code]

[2022-09-29 19:38] kalantar commented on #1342
I updated the problem description. The reference to where upgrade was happening was incorrect.

[2022-09-29 19:55] kalantar commented on #1342
It appears that the `hub` command downloads all the charts in a remote charts folder. This would include the dependency`iter8lib`. This is sufficient for now. However, it would not include any (future) dependencies on other charts not colocated with the `iter8` chart.

[2022-10-03 15:28] kalantar opened #1346 "Rename symbol `CollectABNMetrics`"
**Describe the bug**
symbol `CollectABNMetrics` (constant defined in `base/abn_metrics.go` does not follow pattern of other task names

It should be renamed to `CollectABNMetricsTaskName`

[2022-10-03 15:32] kalantar opened #1347 "Remove extra role bindings"
**Describe the bug**
The experiment chart has a role/rolebinding for metrics secrets. Experiment no longer needs to read these secrets directly. Instead it uses a gRPC call

Update the templates.

[2022-10-03 22:30] #1346 closed, assigned to kalantar

[2022-10-03 22:30] #1347 closed, assigned to kalantar

[2022-10-11 16:50] Alan-Cha opened #1350 "Properly test `istio-prom` provider spec"
Currently, the `custommetrics` test cases do not the `istio-prom` provider spec that we provide. Instead, they use an example provider spec stored in a gist somewhere.

We need to test the most recent version of `istio-prom` so that as it evolves, it is also properly tested.

[2022-10-12 14:30] Alan-Cha opened #1351 "AutoX design requirements"
AutoX will be taking advantage of ArgoCD to install, update, and delete Helm charts.

When the config is created, a set of immutable secrets should also be created, one for each chart.

This secret will be assigned as the owner of the ArgoCD applications that will be created by the watcher. Use the UID of the secret.

This way, when the secrets are deleted, the applications will also be deleted.

[2022-10-13 19:29] kalantar opened #1352 "Move iter8 chart to iter8-tools/hub repository"
Today the `iter8` command uses a single `iter8` Helm chart to create experiment definitions. The `iter8` chart is defined in the `iter8-tools/iter8` repository.

The implementation downloads the chart from the file system assuming it is a GitHub repository. However, it is structured as a Helm chart and treating it as such would simplify the implementation of Iter8. To do this:

1. move the chart t

[2022-10-13 20:08] kalantar commented on #1352
The current implementation of `iter8 launch` and `iter8 k launch` downloads the chart (assuming it is from a GitHub repository) using the internal implementation of `iter8 hub`), processes the downloaded template using the internal implementation of `iter8 gen` and runs the resulting experiment (file or secret) using the internal implementation of `iter8 run`.

While something similar is still nee

[2022-10-14 13:10] sriumcp opened #1354 "Iter8 assert behavior with timeout"
**Is your feature request related to a problem? Please describe.**
`iter8 assert` and `iter8 k assert` accept a timeout parameter. Currently, this timeout is enforced even if the experiment is completed (and other conditions such as SLOs are yet to be satisfied).

**Describe the solution you'd like**
Stop and return from the assert command if one of the following happens:
1. Timeout is exceeded.
2

[2022-10-18 14:01] #1343 closed, assigned to Alan-Cha

[2022-10-18 14:12] kalantar opened #1357 "Allow `if` clause in tasks"
**Is your feature request related to a problem? Please describe.**
The `github` and `slack` tasks support the conditional `if` statement. Other tasks should as well.

**Additional context**
In the existing tasks, it was sufficient to add the `if` clause as follows:

[code]

However, in tasks that implement the content of the `with` statement using something like:

[code]

will also need to remove

[2022-10-18 14:16] kalantar commented on #1357
It is not entirely clear how useful an `if` clause is on all tasks. Does it really make sense on an `abnmetrics` task, for example? But I think for consistency and to set the pattern, we should add to all.

[2022-10-21 22:14] Alan-Cha opened #1359 "`istio-prom` two versions tutorial is not working"
There may be a bug with the Istio's Prometheus plug-in where the labels are not set as expected. Our two versions are identified via the `destination_workload` but instead of `httpbin-v1` and `httpbin-v2`, the data on Prometheus is labels as `unknown`.

One work around is to simply to use another set of labels. Another one, is to make the provider template more flexible, instead of being locked to

[2022-11-03 18:34] sriumcp opened #1363 "CI: Lint CI needs to be on pull requests only. Not only push / release."

[2022-11-03 20:10] kalantar commented on #1342
This has been addressed in `v.12.0-pre`. `iter8lib` was removed eliminating the dependency.

[2022-11-03 20:10] #1342 closed, assigned to nobody

[2022-11-03 20:12] kalantar commented on #1320
This was done in `v0.12-pre`, no? Can we close this?

[2022-11-03 20:13] kalantar commented on #1352
Done; closing.

[2022-11-03 20:13] #1352 closed, assigned to kalantar

[2022-11-03 20:48] sriumcp opened #1364 "Support multiple end points in http and grpc load test tasks"
**Is your feature request related to a problem? Please describe.**
Current `http` and `grpc` tasks support load testing a single http and grpc endpoint respectively. We want to support testing of multiple endpoints.

**Design:**

1. Load test multiple endpoints; they may share some configuration.

[code]

2. Load test multiple grpc endpoints; they may share some configuration.

[code]

[2022-11-04 12:47] kalantar commented on #1364
How should shared configuration be interpreted? In the HTTP example, does `--set http.numRequests=200` mean 200 total requests? Or 200 per endpoint?

What does it look like if I want to test against a single endpoint? Do I need to include the endpoints label?  In part this is a question about which configuration can be shared and which cannot.

[2022-11-04 12:57] sriumcp commented on #1364
Good questions!  Here's my take...

1. The tasks continue to behave as it does today -- i.e., if you do not have endpoints, then you get exactly the behavior you get today.
2. If the tasks do have endpoint specification, then the final config of each endpoint = shared spec merged with endpoint spec. If fields are repeated across shared and endpoint specs, the latter takes precedence.
3. Anything f

[2022-11-04 15:50] #1359 closed, assigned to nobody

[2022-11-07 17:38] kalantar opened #1365 "Incorporate use of label app.kubernetes.io/component for A/B/n Experiments"
**Is your feature request related to a problem? Please describe.**
We describe A/B/n testing a backend component of an application. However, we instruct users to label the backend deployment object with the label  `app.kubernets.io/name` suggesting that the frontend and backend are different applications. While this might be the case, it is often the case that the user thinks of them as components

[2022-11-08 10:35] Alan-Cha opened #1366 "Versioned references in docs"
There are a number of versioned references in docs

For example:
* https://github.com/iter8-tools/docs/blob/f0865b4ee9a8e4ed9bd0cd88f8943818bc976400/docs/user-guide/tasks/custommetrics.md?plain=1#L16
* https://github.com/iter8-tools/docs/blob/fdd137be0cc61a307590bae92b05ba63c01f8eff/docs/user-guide/tasks/github.md?plain=1#L34
* https://github.com/iter8-tools/docs/blob/f0865b4ee9a8e4ed9bd0cd88f8943

[2022-11-08 10:44] Alan-Cha opened #1367 "Add version constraint to autoX release spec"
How should we implement version constraint as suggested [here](https://github.com/iter8-tools/iter8/blob/0c00b4e175503e11ad6259840a83bed312b2c4ca/autox/config.go#L39) in the autoX release spec?

[code]

[2022-11-08 10:45] Alan-Cha commented on #1367
Related to https://github.com/iter8-tools/iter8/pull/1355#discussion_r1014042021

[2022-11-08 10:51] Alan-Cha opened #1368 "AutoX release spec access control"
How should we give proper access control to the autoX release spec? Does it need to be password or token protected?

[2022-11-08 10:52] Alan-Cha commented on #1368
Related to https://github.com/iter8-tools/iter8/pull/1355#discussion_r1014042021

[2022-11-08 13:46] sriumcp opened #1369 "[Docs] Document how to debug an experiment"
`iter8 k log` and `iter8 k run` both can be used in different ways to debug an experiment. Document them.

[2022-11-16 23:00] kalantar opened #1371 "A/B/n hashing not working"
**Describe the bug**
It appears that the algorithm used by lookup is not working. In the past, this was tested by deploying a sample application and (after `kubectl port-forward) calling:

    curl localhost:8090/getRecommendation -H 'X-User: foo'

and

    curl localhost:8090/getRecommendation -H 'X-User: foobar'

This method was configured return the version of the backend service that got calle

[2022-11-21 15:56] #1371 closed, assigned to kalantar

[2022-11-22 16:17] kalantar opened #1373 "Need to update build workflows"
**Describe the bug**
Inspection of the logs shows that we are using deprecated versions of docker actions. They will be disabled in May 2023.  For details see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

The actions that need updating are at least:
- `docker/setup-buildx-action@v1`
- `docker/login-action@v1`
- `docker/build-push-action@v

[2022-11-28 15:53] kalantar opened #1375 "Simplify promotion after A/B(/n) test"
**Is your feature request related to a problem? Please describe.**
Promoting a winning version requires several steps to avoid dropping user requests:
- unset `iter8.tools/abn` label on default version to step traffic to it
- upgrade the default version
- set `iter8.tools/abn` label to `true` to restart traffic to (upgraded) default version
- unset `iter8.tools/abn` on the candidate version
- dele